body{
    padding: 0;
    margin : 0;
}

h1,h2,h3,h4,h5,h6 { 
    margin: 0;
}

nav.desktop-navbar{
    background-color : darkgreen;
    position: fixed;
    height : 7vh;
    width : 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}
nav.desktop-navbar span{
    height: 60%;
    margin : 0 3% 0 3%;
    /* font-family: 'Caladea', serif; */
    font-family: 'Abel', sans-serif;
}
nav.desktop-navbar span a{
    text-decoration: none;
    color : white;
}
#navbar-logo {
    height: 110%;
}
section.main-section{
    max-width: 100vw;
    height : 90vh;
    background-color : black;
    color : white;
    padding-top: 10vh;
}
.main-section-wrting{
    /* position: absolute;
    left : 45%;
    top : 30%;
    transform: translate(-50% , -50%); */
    display: flex;
    justify-content: center;
    width: 100%;
}
.main-section-main-heading{
    font-size : 300%;
    margin-top : 50px;
}
.main-section-main-tagline{
    font-size: 150%;
    margin-top : 10px;
}
.main-section-main-link{
    font-size: 120%;
    margin-top : 20px;
}