<!-- --------------------------------------Footer----------------------------------------------- -->

<footer>
    <div class="footer-social-icons">
        <h3>Social Icons</h3>
        <span style="background-color :#24d824 "><i class="fa fa-facebook-f"></i></span>
        <span style="background-color :#24d824 "><i class="fa fa-twitter"></i></span>
        <span style="background-color :#24d824 "><i class="fa fa-youtube"></i></span>
        <span style="background-color :#24d824 "><i class="fa fa-instagram"></i></span>
    </div>
    <hr style="background: black;" />
    <div class="footer-discover-page">
        <h3>Discover AdoptEV</h3>
        <h4>About Us</h4>
        <h4>Our Services</h4>
        <h4>Contact Us</h4>
        <h4>Logistics</h4>
    </div>
    <hr style="background: black;" />
    <div class="footer-ending-part">
        <h6>Notice</h6>
        <h6>Legal Terms</h6>
        <h6>Terms & Conditions</h6>
        <h6>Privacy Policy</h6>
        <h6>Copyright © 2017 AdopEV Pvt. Ltd. All rights reserved.</h6>
    </div>
</footer>