<!-- --------------------------------------Footer----------------------------------------------- -->

<footer>
    <div class="footer-heading-app-container">
        <div class="footer-heading-app-container-heading-element">
            <!-- <h2>AdoptEV Technologies</h2> -->
            <img src="./images/Capture11.PNG" alt="">
        </div>
        <div class="footer-heading-app-container-app-element">
            <h4>Download Our App!!</h4>
            <a href="#"><img src="./images/Get-It-On-Google-Play-PNG-Clipart.png" alt=""></a>
            <a href="#"><img src="./images/App-store-icon-transparent-photo-12.png" alt=""></a>
        </div>
    </div>
    <div class="footer-content-social-container">
        <div class="footer-content-social-container-content">
            <div class="footer-content-social-container-content-heading">
                <h4>Explore AdoptEV</h4>
            </div>
            <div class="footer-content-social-container-content-links">
                <h6><a href="/">Home</a></h6>
                <h6><a href="/#OurServices">Our Services</a></h6>
                <h6><a href="/partnerus">Partner Us</a></h6>
            </div>
            <div class="footer-content-social-container-content-links">
                <h6><a href="/career">Career</a></h6>
                <h6><a href="/enterprise">For Enterprises</a></h6>
                <h6><a href="/contactus"> Contact Us</a></h6>
            </div>
        </div>
        <div class="footer-content-social-container-social-icons">
            <div class="footer-content-social-container-social-icons-heading">
                <h4>Follow Us</h4>
            </div>
            <div class="footer-content-social-container-social-icons-icons">
                <a href="#"><div class="footer-content-social-container-social-icons-icons-element">
                    <i class="fa fa-facebook-f"></i>
                </div></a>
                <a href="#"><div class="footer-content-social-container-social-icons-icons-element">
                    <i class="fa fa-instagram"></i>
                </div></a>
                <a href="#"><div class="footer-content-social-container-social-icons-icons-element">
                    <i class="fa fa-twitter"></i>
                </div></a>
                <a href="#"><div class="footer-content-social-container-social-icons-icons-element">
                    <i class="fa fa-youtube"></i>
                </div></a>
            </div>
        </div>
    </div>
    <div class="footer-copyright-container">
        <h6>Copyright 2020 @ AdoptEV - All right reserved</h6>
    </div>
</footer>

    <section onclick="scrollToTop()" class="scroll-to-top">
        <i class="fa fa-arrow-up" aria-hidden="true"></i>
    </section>
