<!-- ----------------------------------------Navbar------------------------------------------- -->
<nav class="desktop-navbar" >
    <div class="desktop-navbar-logo">
        <span style="border-bottom: none;"><a href="/"><img id="navbar-logo" src="/images/Logo-02.png" alt="Logo"></a></span>
    </div>
    <div class="desktop-navbar-links">
        <span id="navbar-home"><a href="/">Home</a></span>
        <span><a href="/#OurServices" >Our Services</a></span>
        <span id="navbar-enterprise"><a href="/enterprise">For Enterprise</a></span>
        <span id="navbar-partnerus"><a href="/partnerus">Partner Us</a></span>
        <span><a href="/#main-page-contact-us-section" >Contact Us</a></span>
    </div>
    
    
</nav>
<nav class="mobile-navbar">
    <div class="burger-container">
        <div class="burger-container-lines"></div>
        <!-- <div class="burger-container-lines"></div> -->
        <div class="burger-container-lines"></div>
    </div>
    <div class="mobile-navbar-logo">
        <a href="/"><img src="/images/Logo-02.png" alt="Logo"></a>
    </div>
</nav>
<section class="mobile-navbar-links">
    <h3><a href="/"><div>Home</div></a></h3>
    <h3><a href="/#OurServices"><div>Our Services</div></a></h3>
    <h3><a href="/enterprise"><div>For Enterprise</div></a></h3>
    <h3><a href="/partnerus"><div>Partner Us</div></a></h3>
    <h3><a href="/#main-page-contact-us-section"><div>Contact Us</div></a></h3>
    
</section>