<!-- ----------------------------------------Navbar------------------------------------------- -->
<nav class="desktop-navbar" >
    <span style="border-bottom: none;"><a href="/"><img id="navbar-logo" src="/images/Capture11.PNG" alt="Logo"></a></span>
    <span><a href="/">Home</a></span>
    <span><a href="/aboutus">About Us</a></span>
    <span><a href="#">Partner Us</a></span>
    <span><a href="#">Our Services</a></span>
    <span><a href="/career">Career</a></span>
    <span><a href="/contactus">Contact Us</a></span>
</nav>
<nav class="mobile-navbar">
    <div class="burger-container">
        <div class="burger-container-lines"></div>
        <div class="burger-container-lines"></div>
        <div class="burger-container-lines"></div>
    </div>
    <div class="mobile-navbar-logo">
        <img src="./images/Capture11.PNG" alt="Logo">
    </div>
</nav>
<section class="mobile-navbar-links">
    <div><h3><a href="/">Home</a></h3></div>
    <div><h3><a href="/aboutus">About Us</h3></div>
    <div><h3><a href="#">Partner Us</a></h3></div>
    <div><h3><a href="#">Our Services</a></h3></div>
    <div><h3><a href="/career">Career</a></h3></div>
    <div><h3><a href="/contactus">Contact Us</a></h3></div>
</section>