<link rel="stylesheet" href="/css/aboutus.css">

<section class="about-us-landing navbar-color-change-div">
    <h1>About Us</h1>
</section>
<section class="about-us-mission-vision">
    <div class="about-us-mission-vision-heading">
        <h1>This Is Our Mission and Vision</h1>
    </div>
    <div class="about-us-mission-vision-tagline">
        <h6>Our Investment Company, located in Rockville, Maryland, is a full-service Investment company that provides acquisition, development and finance expertise for both commercial and multi-family projects.</h6>
    </div>
    <div class="about-us-mission-vision-container">
        <div class="about-us-mission-vision-container-element">
            <div class="about-us-mission-vision-container-element-line">

            </div>
            <div class="about-us-mission-vision-container-element-heading">
                <h2>Mission</h2>
            </div>
            <div class="about-us-mission-vision-container-element-content">
                <p>To be the most Reliable Last Mile Logistics Service Provider for Secure, 
On time, Connected Services with Highest Fulfilment rate, Bring Smiles 
to our Customers & Driving Partners.</p>
            </div>
        </div>
        <div class="about-us-mission-vision-container-element">
            <div class="about-us-mission-vision-container-element-line">

            </div>
            <div class="about-us-mission-vision-container-element-heading">
                <h2>Vision</h2>
            </div>
            <div class="about-us-mission-vision-container-element-content">
                <p>Helping our Customer being stress free about their Last Mile By 
                    Delivering Consignments via Real time Informed Digital platform 
                    Securely & on Time with a Green Smile
                </p>
            </div>
        </div>
        <div class="about-us-mission-vision-container-element">
            <div class="about-us-mission-vision-container-element-line">

            </div>
            <div class="about-us-mission-vision-container-element-heading">
                <h2>Commitment</h2>
            </div>
            <div class="about-us-mission-vision-container-element-content">
                <p>We have a firm commitment to conduct our business using best industry practices and in a transparent manner while at the same time offering an unmatched access to markets.</p>
            </div>
        </div>
    </div>
</section>
<section class="about-us-our-team">
    <div class="about-us-our-team-heading">
        <h1>Meet Our Team</h1>
    </div>
    <div class="about-us-our-team-tagline">
        <h6>Get to know more about each team member who is always there for you. They are real people standing behind the company success. We are proud of our professionals as they are our main driving force that makes your business grow and improve day by day.</h6>
    </div>
    <div class="about-us-our-team-container">
        <div class="about-us-our-team-container-element">
            <div class="about-us-our-team-container-element-image">
                <img src="/images/dummy-profile.jpg" alt="">
            </div>
            <div class="about-us-our-team-container-element-title">
                <h3>Jon Doe</h3>
            </div>
            <div class="about-us-our-team-container-element-position">
                <h5>Product Manager</h5>
            </div>
            <div class="about-us-our-team-container-element-about">
                <p>jon Doe responsibility of the planning, execution and closing of all company projects.</p>
            </div>
            <div class="about-us-our-team-container-element-line">

            </div>
        </div>
        <div class="about-us-our-team-container-element">
            <div class="about-us-our-team-container-element-image">
                <img src="/images/dummy-profile.jpg" alt="">
            </div>
            <div class="about-us-our-team-container-element-title">
                <h3>Michael Simmer</h3>
            </div>
            <div class="about-us-our-team-container-element-position">
                <h5>Product Manager</h5>
            </div>
            <div class="about-us-our-team-container-element-about">
                <p>jon Doe responsibility of the planning, execution and closing of all company projects.</p>
            </div>
            <div class="about-us-our-team-container-element-line">

            </div>
        </div>
        <div class="about-us-our-team-container-element">
            <div class="about-us-our-team-container-element-image">
                <img src="/images/dummy-profile.jpg" alt="">
            </div>
            <div class="about-us-our-team-container-element-title">
                <h3>Jordan Fuller</h3>
            </div>
            <div class="about-us-our-team-container-element-position">
                <h5>Product Manager</h5>
            </div>
            <div class="about-us-our-team-container-element-about">
                <p>jon Doe responsibility of the planning, execution and closing of all company projects.</p>
            </div>
            <div class="about-us-our-team-container-element-line">

            </div>
        </div>
    </div>
</section>