<link rel="stylesheet" href="/css/career.css">

<section class="career-landing-section navbar-color-change-div">
    <div class="career-landing-section-heading">
        <h1>Life at AdoptEV</h1>
    </div>
</section>
<section class="career-life-at-adoptev">
    <div class="career-life-at-adoptev-container">
        <div class="career-life-at-adoptev-container-content">
            <div class="career-life-at-adoptev-container-content-heading">
                <h3>Life at AdoptEV</h3>
            </div>
            <div class="career-life-at-adoptev-container-content-material">
                <p>Ola is built on an entrepreneurial DNA. Innovation, experimentation and problem-solving are at the core of what we do. This has helped us revolutionize mobility like never before, helping build locally relevant and scalable solutions, as well as cutting edge technology for India and the world.

                    From changing the way India commutes using bikes, autos and cabs through an app, to making bold futuristic bets on emerging areas like Electric, or scaling our technology to serve the unique needs of global markets, Ola’s team of 7,000+, are torchbearers of its mission to build mobility for a billion people.
                </p>
            </div>
            <!-- <div class="career-life-at-adoptev-container-content-button">
                <a href="#"><button>See Our Openings</button></a>
            </div> -->
        </div>
        <div class="career-life-at-adoptev-container-photo">
            <img src="./images/240_F_251746108_LOovlWWpDVnG3XTKhsnBcj7OeQhfRpyc.jpg" alt="">
        </div>
    </div>
</section>
<section class="career-why-work-at-adoptev">
    <div class="career-why-work-at-adoptev-heading">
        <h3>Why Work At AdoptEV</h3>
    </div>
    <div class="career-why-work-at-adoptev-container">
        <div class="career-why-work-at-adoptev-container-element">
            <h4>Impact Oriented</h4>
            <p>
                If you are oriented towards making an impact, then Ola is the place for you! As an organisation, we focus on working fast and hard to make a quick impact.
            </p>
        </div>
        <div class="career-why-work-at-adoptev-container-element">
            <h4>Passionate</h4>
            <p>
                We are passionate about our mission to provide mobility for a billion Indians. What's more? Once we are done with work we party even harder!    
            </p>
        </div>
    </div>
    <div class="career-why-work-at-adoptev-container">
        <div class="career-why-work-at-adoptev-container-element">
            <h4>Ambitious Goals</h4>
            <p>
                We believe in the saying "Ambitious goals make for outstanding achievements" and we set audacious goals for ourselves.
            </p>
        </div>
        <div class="career-why-work-at-adoptev-container-element">
            <h4>Obsessively hyperlocal</h4>
            <p>
                We intrinsically understand the transportation needs of India. Our teams continue to create hyperlocal solutions to meet those needs.
            </p>
        </div>
    </div>
    <div class="career-why-work-at-adoptev-container">
        <div class="career-why-work-at-adoptev-container-element">
            <h4>Infectious Energy</h4>
            <p>
                There is never a dull moment at Ola. We are constantly ideating, innovating and deliberating! Join us to be part of this buzz.
            </p>
        </div>
        <div class="career-why-work-at-adoptev-container-element">
            <h4>Enterprising</h4>
            <p>
                We have the courage to be creative and always willing to experiment with new opportunities!
            </p>
        </div>
    </div>
</section>
<section class="career-job-opportunities">
    <div class="career-job-opportunities-heading">
        <h3>Job Opportunities at AdoptEV</h3>
    </div>
    <div class="career-job-opportunities-content">
        <p>
            If you think you are ready to be part of a dynamic, fast growing versatile and
young workforce apply for our existing openings across cities today.
        </p>
    </div>
    <div class="career-job-opportunities-button">
        <a href="#"><button>FullTime Opening</button></a>
        <a href="#"><button>Internship Openings</button></a>
    </div>
</section>