<link rel="stylesheet" href="/css/contactus.css">

<section class="contact-us-landing navbar-color-change-div">
    <h1>Get In Touch With Us</h1>
</section>
<!-- --------------------------------------connect-with-us-------------------------------------- -->
<section class="contact-us">
    <div class="contact-us-container">
        <div class="contact-us-content-section">
            <div class="contact-us-content-section-heading">
                <h3>Contact Us</h3>
                <h2>Get In Touch With <b>US</b></h2>
            </div>
            <div class="contact-us-content-section-para">
                <p>Whether you are a customer or anyone from a company
                    Have a query..??<br>
                    Just Fill up the form to drop us a message and someone from our
                    team will get back in touch with you.</p>
            </div>
            
        </div>
        <div class="contact-us-form-section">
            <div class="contact-us-form-section-container">
                <form id="enquirySubmitForm" action="/enquiry">
                    <input type="text" name="name" id="" placeholder="Your Full Name">
                    <input type="email" name="email" id="" placeholder="Your valid Email ID">
                    <input type="number" name="phone" id=""  placeholder="Phone Number So That We Can Contact You">
                    <select name="userType" id="cars" onchange="expandform(this.value)">
                        <option value="customer">Customer</option>
                        <option value="partner">Partner</option>
                        <option value="driver">Driver</option>
                        <option value="fleetOwner">Fleet Owner</option>
                    </select>
                    <input type="text" name="company" id="contact-us-form-company" style="display: none;" placeholder="A CO. or org you are writing in behalf of">
                    <input type="text" name="position" id="contact-us-form-position" style="display: none;" placeholder="Your Job title">
                    <textarea name="enquiry" id="contact-us-form-enquiry" rows="2" placeholder="Your Enquiry?"></textarea>
                    <input type="submit" id="enquirySubmitButton" value="End You Enquiry">
                </form>
                <div class="form-submission-after-message">
                    <i class="fa fa-check-circle" aria-hidden="true"></i>
                    Our Team will contact you soon!!
                </div>
            </div>
        </div>
    </div>
</section>
