<link rel="stylesheet" href="./css/enterprise.css">
<section class="enterprise-landing-section navbar-color-change-div">
    <div class="enterprise-landing-section-container">
        <div class="enterprise-landing-section-image-container">
            <img src="/images/1-01.png" alt="">
        </div>
        <div class="enterprise-landing-section-heading-container">
            <div class="enterprise-landing-section-heading">
                <h1><strong >Demand</strong> is yours, <strong>Supply</strong> is ours</h1>
            </div>
        </div>
    </div>    
</section>
<section class="enterprise-about-us">
    <div class="enterprise-about-us-heading">
        <h2>Why Us ?</h2>
    </div>
    <div class="enterprise-about-us-container">
        <div class="enterprise-about-us-container-paragraph">
            <p><strong>AdoptEV</strong> provides you vehicle cum delivery partner facilitieswith customized electric fleet and professional driver and digital adhoc solution for all your intracity logistic needs on different lease model</p>
            <p>We ensure you to focus on your core business, production and demand and let us take care of your logistics and supplies</p>
            <ul>
                <li>No more Vendors</li>
                <li>Less transportation cost</li>
                <li>More Revenue</li>
            </ul>
        </div>
    </div>
</section>
<section class="adoptev-enterprise">
    <div class="adoptev-enterprise-heading">
        <h2><strong>AdoptEV</strong> for Enterprises</h2>
    </div>
    <div class="adoptev-enterprise-point-container">
        <div class="adoptev-enterprise-point-image-container">
            <img src="./images/2-03.png" alt="">
        </div>
        <div class="adoptev-enterprise-point-content-container">
            <h6>Fleet Service</h6>
            <ul>
                <li>Trip and Parcel Basis</li>
                <li>Fixed Vehicle and Driver</li>
                <li>Hourly, Daily and Monthly</li>
                <li>Customized Vehicle</li>
                <ul>
                    <li>Open</li>
                    <li>Closed</li>
                    <li>Cold Storage</li>
                </ul>
            </ul>
        </div>
    </div>
    <div class="adoptev-enterprise-point-container">
        <div class="adoptev-enterprise-point-image-container">
            <img src="./images/3-03.png" alt="">
        </div>
        <div class="adoptev-enterprise-point-content-container">
            <h6>First and last mile</h6>
            <ul>
                <li>On demand</li>
                <ul>
                    <li>pickup collection</li>
                    <li>drop service</li>
                </ul>
                <li>Reverse Logistic</li>
                <li>Hourly, Daily and Monthly</li>
                <li>Multitouch point</li>
            </ul>
        </div>
    </div>
    <div class="adoptev-enterprise-point-container">
        <div class="adoptev-enterprise-point-image-container">
            <img src="./images/4-03.png" alt="">
        </div>
        <div class="adoptev-enterprise-point-content-container">
            <h6>Assitance- Warehouse SCM and material handling</h6>
            <ul>
                <li> Distribuition shape</li>
                <li>Digital Dashboard</li>
                <ul>
                    <li>Driver assisatnce</li>
                    <li>Payment billing and invoice collection</li>
                    <li>Goods Packaging</li>
                    <li>Unloading and Loading</li>
                </ul>
            </ul>
        </div>
    </div>
</section>

<section class="enterprise-contact-us">
    <div class="enterprise-contact-us-container">
        <div class="enterprise-contact-us-content-container">
            <h4>Let's Get in Touch</h4>
            <div class="enterprise-contact-us-content-element-container">
                <div class="enterprise-contact-us-content-logo">
                    <i class="fa fa-mobile" aria-hidden="true"></i>
                </div>
                <div class="enterprise-contact-us-content-mobile-number">
                    <br>
                    <h6>+91-773746472 ,</h6>
                    <h6>+91-8837474992</h6>
                </div>
            </div>
            <div class="enterprise-contact-us-content-element-container">
                <div class="enterprise-contact-us-content-logo">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                </div>
                <div class="enterprise-contact-us-content-mobile-number">
                    <br>
                    <h6>info@adoptEV.com</h6>
                    <h6>support@adoptEV.com</h6>
                </div>
            </div>
            <div class="enterprise-contact-us-content-element-container">
                <div class="enterprise-contact-us-content-logo">
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                </div>
                <div class="enterprise-contact-us-content-mobile-number">
                    <br>
                    <h6>sector 123</h6>
                    <h6>Gurgaon</h6>
                </div>
            </div>
        </div>
        <div class="enterprise-contact-us-form-container">
            <form id="enterprise-contact-us-form" action="" method="post">
                <h4>Contact us For Vehicle requirements</h4>
                <input type="text" name="name" id="" placeholder="Name" required>
                <input type="text" name="companyname" id="" placeholder="Company Name" required>
                <input type="text" name="Location" id="" placeholder="Location of your Company">
                <input type="number" name="mobile" id="" placeholder="Mobile Number" required>
                <input type="email" name="email" id="" placeholder="Email ID">
                <textarea name="note" id="" cols="10" rows="2" placeholder="Special Note"></textarea>
                <input type="submit" value="Request Callback">
                
            </form>
        </div>
    </div>
</section>