<link rel="stylesheet" href="./css/enterprise.css">
<section class="enterprise-landing-section navbar-color-change-div">
    <div class="enterprise-landing-section-heading">
        <h1><strong >Demand</strong> is yours <strong>Supply</strong> is ours</h1>
    </div>
</section>
<section class="enterprise-about-us">
    <div class="enterprise-about-us-heading">
        <h2><strong>AdoptEV</strong> for Enterprises</h2>
    </div>
    <div class="enterprise-about-us-container">
        <div class="enterprise-about-us-container-paragraph">
            <p><strong>AdoptEV</strong> provides you vehicle cum delivery partner facilitieswith customized electric fleet and professional driver and digital adhoc solution for all your intracity logistic needs on different lease model</p>
            <p>We ensure you to focus on your core business, production and demand and let us take care of your logistics and supplies</p>
            <ul>
                <li>No more Vendors</li>
                <li>Less transportation cost</li>
                <li>More Revenue</li>
            </ul>
        </div>
    </div>
</section>
<section class="enterprise-several-points-and-form">
    <div class="enterprise-several-points-and-form-container">
        <div class="enterprise-several-points-and-form-container-points-element">
            <div class="enterprise-several-points-and-form-container-points-element-internal-element">
                <div class="enterprise-several-points-and-form-container-points-element-internal-element-image">
                    <img src="./images/no-cancellation.png" alt="">
                </div>
                <div class="enterprise-several-points-and-form-container-points-element-internal-element-content">
                    <h4>Fleet Simplified</h4>
                    <p>Trust Porter’s fleet of well-maintained LCVs and HCVs for all your intracity logistics needs on different lease models.</p>
                </div>
            </div>
            <div class="enterprise-several-points-and-form-container-points-element-internal-element">
                <div class="enterprise-several-points-and-form-container-points-element-internal-element-image">
                    <img src="./images/guilt-free.png" alt="">
                </div>
                <div class="enterprise-several-points-and-form-container-points-element-internal-element-content">
                    <h4>Peak Management</h4>
                    <p>Let Porter take care of all your peak season requirements and bulk booking challenges with our on-demand fleet.</p>
                </div>
            </div>
            <div class="enterprise-several-points-and-form-container-points-element-internal-element">
                <div class="enterprise-several-points-and-form-container-points-element-internal-element-image">
                    <img src="./images/quiet-revolution.png" alt="">
                </div>
                <div class="enterprise-several-points-and-form-container-points-element-internal-element-content">
                    <h4>Managed Services</h4>
                    <p>Experience significant cost savings, improved SLAs and a host of other benefits on freight forwards. Focus on your core business and let us take care of logistics.</p>
                </div>
            </div>
        </div>
        <div class="enterprise-several-points-and-form-container-form-element">
            <div class="enterprise-several-points-and-form-container-form-element-inner-sontainer">
                <form action="" method="post">
                    <h3>For Enterprises</h3>
                    <h6>For contractual daily vehicle requirements</h6>
                    <select id="city">
                        <option value="delhi">Delhi</option>
                        <option value="gurugram">Gurugram</option>
                        <option value="sonipat">Sonipat</option>
                        <option value="Faridabad">Faridabad</option>
                      </select>
                      <input type="text" name="name" id="" placeholder="Name" required>
                      <input type="text" name="companyname" id="" placeholder="Company Name" required>
                      <input type="number" name="mobile" id="" placeholder="Mobile Number" required>
                      <input type="email" name="email" id="" placeholder="Email ID">
                      <input type="submit" value="Request Callback">
                </form>
            </div>
        </div>
    </div>
</section>