<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title%></title>
    <link href="https://fonts.googleapis.com/css2?family=Caladea:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Abel&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://use.fontawesome.com/e2eea6562c.js"></script>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <!-- ----------------------------------------Navbar------------------------------------------- -->
    <nav class="desktop-navbar" >
        <span><img id="navbar-logo" src="./images/DCRUST-Date-Sheet.png" alt="Logo"></span>
        <span><a href="#">Logistics</a></span>
        <span><a href="#">About Us</a></span>
        <span><a href="#">Our Services</a></span>
        <span><a href="#">Contact Us</a></span>
        <span><a href="#">Hello World</a></span>
    </nav>
    <nav class="mobile-navbar">
        <div class="burger-container">
            <div class="burger-container-lines"></div>
            <div class="burger-container-lines"></div>
            <div class="burger-container-lines"></div>
        </div>
        <div class="mobile-navbar-logo">

        </div>
        <div class="mobile-navbar-logo">
            <img src="./images/DCRUST-Date-Sheet.png" alt="Logo">
        </div>
    </nav>
    <section class="mobile-navbar-links">
        <div><h3>About Us</h3></div>
        <div><h3>Contact Us</h3></div>
        <div><h3>Logistics Us</h3></div>
        <div><h3>Services</h3></div>
    </section>
    <!-- ----------------------------------side social icons------------------------------- -->
    <section class="fixed-social-icons">
        <span style="background-color :#3b5998 "><i class="fa fa-facebook-f"></i></span>
        <span style="background-color :#00acee "><i class="fa fa-twitter"></i></span>
        <span style="background-color :#db3236 "><i class="fa fa-youtube"></i></span>
        <span style="background-color :#3f729b "><i class="fa fa-instagram"></i></span>
    </section>
    <!-- -----------------------------------------Landing Section------------------------- -->
    <section class="main-section">
        <div class="main-section-writing">
            <h1 class="main-section-main-heading">Mission : Electric</h1>
        </div>
        <div class="main-section-writing">
            <h3 class="main-section-main-tagline">An effort to reduce pollution by connecting drivers with our solution</h3>
        </div>
        <div class="main-section-writing">
            <h1 class="main-section-main-link"><a href="#">Connect With Us</a></h1>
        </div>
    </section>
    <!-- ------------------------------------------logistics----------------------------------- -->
    <section class="logistics">
        <div class="logistics-heading">
            <h3>Our Methods</h3>
            <h1>Logistics & Passenger</h1>
        </div>
        <div class="logistics-container">
            <div class="logistics-container-element-1">

            </div>
            <div class="logistics-container-element-2">
                
            </div>
        </div>
    </section>
    <!-- --------------------------------About us---------------------------------------------- -->
    <section class="about-us">
        <div class="about-us-container">
            <div class="about-us-image-section">
                <div class="about-us-image-section-img">
                    <img  src="./images/team-people-work-on-peak-260nw-401827843.jpg" alt="About Us">
                </div>
            </div>
            <div class="about-us-content-section">
                <div class="about-us-content-section-heading">
                    <h3>About Us</h3>
                    <h2>WE ARE <b>PROVIDERS</b></h2>
                </div>
                <div class="about-us-content-section-para">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <div class="about-us-button-section">
                    <a href="#"><button>Know Us More</button></a>
                </div>
            </div>
        </div>
    </section>
    <!-- ------------------------------------------Services we provide (hire-us)----------------------------------- -->
    <section class="hire-vehicle">
        <div class="hire-vehicle-heading">
            <h3>What we offer/ Services</h3>
            <h1>You have two Choices</h1>
        </div>
        <div class="hire-vehicle-container">
            <div class="hire-vehicle-container-element-1">

            </div>
            <div class="hire-vehicle-container-element-2">
                
            </div>
        </div>
    </section>
    <!-- ------------------------------Our services--------------------------------------------- -->
    <section class="services">
        <div class="services-heading">
            <h3>Our Services</h3>
            <h1>What We Offers</h1>
        </div>
        <div class="services-provide-container">
            <div class="services-provide-container-element">
                <div class="services-provide-container-element-icon">
                    <img src="./images/158575-200.png" alt="">
                </div>
                <div class="services-provide-container-element-content">
                    <h2>Green Vehicle</h2>
                    <p>Consectetur adipiscing elit incididunt ut labore et dolore magna aliqua. Risus commodo viverra maecenas.</p>
                </div>
            </div>
            <div class="services-provide-container-element">
                <div class="services-provide-container-element-icon">
                    <img src="./images/158575-200.png" alt="">
                </div>
                <div class="services-provide-container-element-content">
                    <h2>Eco Friendly</h2>
                    <p>Consectetur adipiscing elit incididunt ut labore et dolore magna aliqua. Risus commodo viverra maecenas.</p>
                </div>
            </div>
            <div class="services-provide-container-element">
                <div class="services-provide-container-element-icon">
                    <img src="./images/158575-200.png" alt="">
                </div>
                <div class="services-provide-container-element-content">
                    <h2>Connected Vehicle</h2>
                    <p>Consectetur adipiscing elit incididunt ut labore et dolore magna aliqua. Risus commodo viverra maecenas.</p>
                </div>
            </div>
        </div>
        <div class="services-provide-container">
            <div class="services-provide-container-element">
                <div class="services-provide-container-element-icon">
                    <img src="./images/158575-200.png" alt="">
                </div>
                <div class="services-provide-container-element-content">
                    <h2>Real time Trackable</h2>
                    <p>Consectetur adipiscing elit incididunt ut labore et dolore magna aliqua. Risus commodo viverra maecenas.</p>
                </div>
            </div>
            <div class="services-provide-container-element">
                <div class="services-provide-container-element-icon">
                    <img src="./images/158575-200.png" alt="">
                </div>
                <div class="services-provide-container-element-content">
                    <h2>Low on Air high on efficiency</h2>
                    <p>Consectetur adipiscing elit incididunt ut labore et dolore magna aliqua. Risus commodo viverra maecenas.</p>
                </div>
            </div>
        </div>
    </section>
    <!-- ------------------------------------------Partner-us----------------------------------- -->
    <section class="partner-us">
        <div class="partner-us-heading">
            <h3>Partner Us</h3>
            <h1>Be Our Partner</h1>
        </div>
        <div class="partner-us-container">
            <div class="partner-us-container-element-1">

            </div>
            <div class="partner-us-container-element-2">
                
            </div>
        </div>
    </section>
    <!-- --------------------------------------connect-with-us-------------------------------------- -->
    <section class="contact-us">
        <div class="contact-us-container">
            <div class="contact-us-content-section">
                <div class="contact-us-content-section-heading">
                    <h3>Contact Us</h3>
                    <h2>Get In Touch With <b>US</b></h2>
                </div>
                <div class="contact-us-content-section-para">
                    <p>Whether you are a customer or anyone from a company
                        Have a query..??<br>
                        Just Fill up the form to drop us a message and someone from our
                        team will get back in touch with you.</p>
                </div>
                
            </div>
            <div class="contact-us-form-section">
                <div class="contact-us-form-section-container">
                    <form id="enquirySubmitForm" action="/enquiry">
                        <input type="text" name="" id="" placeholder="Your Full Name">
                        <input type="email" name="" id="" placeholder="Your valid Email ID">
                        <input type="number" name="" id=""  placeholder="Phone Number So That We Can Contact You">
                        <select id="cars" onchange="expandform(this.value)">
                            <option value="customer">Customer</option>
                            <option value="partner">Partner</option>
                            <option value="driver">Driver</option>
                            <option value="fleetOwner">Fleet Owner</option>
                        </select>
                        <input type="text" name="company" id="contact-us-form-company" style="display: none;" placeholder="A CO. or org you are writing in behalf of">
                        <input type="text" name="position" id="contact-us-form-position" style="display: none;" placeholder="Your Job title">
                        <textarea name="enquiry" id="contact-us-form-enquiry" rows="2" placeholder="Your Enquiry?"></textarea>
                        <input type="submit" id="enquirySubmitButton" value="End You Enquiry">
                    </form>
                    <div class="form-submission-after-message">
                        <i class="fa fa-check-circle" aria-hidden="true"></i>
                        Our Team will contact you soon!!
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- --------------------------------------Footer----------------------------------------------- -->

    <footer>
        <div class="footer-social-icons">
            <h3>Social Icons</h3>
            <span style="background-color :#24d824 "><i class="fa fa-facebook-f"></i></span>
            <span style="background-color :#24d824 "><i class="fa fa-twitter"></i></span>
            <span style="background-color :#24d824 "><i class="fa fa-youtube"></i></span>
            <span style="background-color :#24d824 "><i class="fa fa-instagram"></i></span>
        </div>
        <hr style="background: black;" />
        <div class="footer-discover-page">
            <h3>Discover AdoptEV</h3>
            <h4>About Us</h4>
            <h4>Our Services</h4>
            <h4>Contact Us</h4>
            <h4>Logistics</h4>
        </div>
        <hr style="background: black;" />
        <div class="footer-ending-part">
            <h6>Notice</h6>
            <h6>Legal Terms</h6>
            <h6>Terms & Conditions</h6>
            <h6>Privacy Policy</h6>
            <h6>Copyright © 2017 AdopEV Pvt. Ltd. All rights reserved.</h6>
        </div>
    </footer>
    <!-- <br><br><br><br><br><br><br><br><br> -->
    
    <script src="js/enquiryAjax.js"></script>
    <script src="js/script.js"></script>
</body>
</html>