
    <link rel="stylesheet" href="/css/style.css">
    
    <!-- ----------------------------------side social icons------------------------------- -->
    <!-- <section class="fixed-social-icons">
        <span style="background-color :#3b5998 "><i class="fa fa-facebook-f"></i></span>
        <span style="background-color :#00acee "><i class="fa fa-twitter"></i></span>
        <span style="background-color :#db3236 "><i class="fa fa-youtube"></i></span>
        <span style="background-color :#3f729b "><i class="fa fa-instagram"></i></span>
    </section> -->
    <!-- -----------------------------------------Landing Section------------------------- -->
    <section class="main-section navbar-color-change-div">
        <div class="main-section-writing">
            <h1 class="main-section-main-heading">Mission : Electric</h1>
        </div>
        <div class="main-section-writing">
            <h3 class="main-section-main-tagline">An effort to reduce pollution by connecting drivers with our solution</h3>
        </div>
        <div class="main-section-writing">
            <h1 class="main-section-main-link"><a href="#">Connect With Us</a></h1>
        </div>
    </section>
    <!-- -------------------mission and vision------------------------------------ -->
    <section class="about-us-mission-vision">
        <div class="about-us-mission-vision-heading">
            <h1>This Is Our Mission and Vision</h1>
        </div>
        <div class="about-us-mission-vision-tagline">
            <h6>Our Investment Company, located in Rockville, Maryland, is a full-service Investment company that provides acquisition, development and finance expertise for both commercial and multi-family projects.</h6>
        </div>
        <div class="about-us-mission-vision-container">
            <div class="about-us-mission-vision-container-element">
                <div class="about-us-mission-vision-container-element-line">
    
                </div>
                <div class="about-us-mission-vision-container-element-heading">
                    <h2>Mission</h2>
                </div>
                <div class="about-us-mission-vision-container-element-content">
                    <p>To be the most Reliable Last Mile Logistics Service Provider for Secure, 
    On time, Connected Services with Highest Fulfilment rate, Bring Smiles 
    to our Customers & Driving Partners.</p>
                </div>
            </div>
            <div class="about-us-mission-vision-container-element">
                <div class="about-us-mission-vision-container-element-line">
    
                </div>
                <div class="about-us-mission-vision-container-element-heading">
                    <h2>Vision</h2>
                </div>
                <div class="about-us-mission-vision-container-element-content">
                    <p>Helping our Customer being stress free about their Last Mile By 
                        Delivering Consignments via Real time Informed Digital platform 
                        Securely & on Time with a Green Smile
                    </p>
                </div>
            </div>
            <div class="about-us-mission-vision-container-element">
                <div class="about-us-mission-vision-container-element-line">
    
                </div>
                <div class="about-us-mission-vision-container-element-heading">
                    <h2>Commitment</h2>
                </div>
                <div class="about-us-mission-vision-container-element-content">
                    <p>We have a firm commitment to conduct our business using best industry practices and in a transparent manner while at the same time offering an unmatched access to markets.</p>
                </div>
            </div>
        </div>
    </section>
    <!-- ------------------------------Our services--------------------------------------------- -->
    <section class="our-services">
        <div class="our-services-heading">
            <h3>#AdoptElectricVehicle</h3>
            <h1>What We Offers</h1>
        </div>
        <div class="our-services-container">
            <div class="our-services-container-element">
                <div class="our-services-container-element-img">
                    <img src="./images/guilt-free.png" alt="">
                </div>
                <div class="our-services-container-element-heading">
                    <h4>Move Guilt-Free</h4>
                </div>
                <div class="our-services-container-element-content">
                    <p>All our cars are 100% Electric, and have zero-tailpipe emission.</p>
                </div>
            </div>
            <div class="our-services-container-element">
                <div class="our-services-container-element-img">
                    <img src="./images/purge-the-surge.png" alt="">
                </div>
                <div class="our-services-container-element-heading">
                    <h4>Purge the Surge</h4>
                </div>
                <div class="our-services-container-element-content">
                    <p>You know our fare. It’s ₹149, anywhere to anywhere in Gurugram.</p>
                </div>
            </div>
            <div class="our-services-container-element">
                <div class="our-services-container-element-img">
                    <img src="./images/quiet-revolution.png" alt="">
                </div>
                <div class="our-services-container-element-heading">
                    <h4>Join the #QuietRevolution</h4>
                </div>
                <div class="our-services-container-element-content">
                    <p>Experience a noiseless, premium sedan. You’ll never want to travel the old way again.</p>
                </div>
            </div>
        </div>
        <div class="our-services-container">
            <div class="our-services-container-element">
                <div class="our-services-container-element-img">
                    <img src="./images/no-cancellation.png" alt="">
                </div>
                <div class="our-services-container-element-heading">
                    <h4>Move without Frustration</h4>
                </div>
                <div class="our-services-container-element-content">
                    <p>Our driver will never cancel your Ride. Count on us for your daily commute.</p>
                </div>
            </div>
            <div class="our-services-container-element">
                <div class="our-services-container-element-img">
                    <img src="./images/safety.png" alt="">
                </div>
                <div class="our-services-container-element-heading">
                    <h4>Our Drivers are awesome</h4>
                </div>
                <div class="our-services-container-element-content">
                    <p>They’re trusted & responsible too, and they’re engaged with us full-time. We care deeply about your safety.</p>
                </div>
            </div>
        </div>
        
    </section>
    <!-- ----------------------------logistics and passenger-------------------------------- -->
    <section id="OurServices" class="logistics-and-passenger">
        <div class="logistics-and-passenger-heading">
            <h3>AdoptEV Assure</h3>
            <h1>Invest In Building A Cleaner Future</h1>
        </div>
        <div class="logistics-and-passenger-container">
            <div class="logistics-and-passenger-container-element">
                <div class="logistics-and-passenger-container-element-img">
                    <img src="./images/mercedes-benz-parked-in-a-row-164634.jpg" alt="">
                </div>
                <div class="logistics-and-passenger-container-element-content">
                    <div class="logistics-and-passenger-container-element-content-line">
                    
                    </div>
                    <div class="logistics-and-passenger-container-element-content-heading">
                        <h3>Logistics</h3>
                        <h6>You can get in touch with us</h6>
                    </div>
                    <div class="logistics-and-passenger-container-element-content-paragraph">
                        <p>Participate in the green mobility revolution and own a share in the growing pie. Invest in a 100% electric car on Blu Smart and get guaranteed, attractive returns every month.</p>
                    </div>
                    
                </div>
            </div>
            <div class="logistics-and-passenger-container-element">
                <div class="logistics-and-passenger-container-element-img">
                    <img src="./images/automobiles-automotives-black-and-white-black-and-white-70912.jpg" alt="">
                </div>
                <div class="logistics-and-passenger-container-element-content">
                    <div class="logistics-and-passenger-container-element-content-line">
                    
                    </div>
                    <div class="logistics-and-passenger-container-element-content-heading">
                        <h3>Passenger</h3>
                        <h6>Ride With Us with the price that suits your pocket</h6>
                    </div>
                    <div class="logistics-and-passenger-container-element-content-paragraph">
                        <p>Participate in the green mobility revolution and own a share in the growing pie. Invest in a 100% electric car on Blu Smart and get guaranteed, attractive returns every month.</p>
                    </div>
                    
                </div>
            </div>
        </div>
    </section>
    