
    <link rel="stylesheet" href="/css/style.css">
    
    <!-- ----------------------------------side social icons------------------------------- -->
    <!-- <section class="fixed-social-icons">
        <span style="background-color :#3b5998 "><i class="fa fa-facebook-f"></i></span>
        <span style="background-color :#00acee "><i class="fa fa-twitter"></i></span>
        <span style="background-color :#db3236 "><i class="fa fa-youtube"></i></span>
        <span style="background-color :#3f729b "><i class="fa fa-instagram"></i></span>
    </section> -->
    <!-- -----------------------------------------Landing Section------------------------- -->
    <section class="main-section navbar-color-change-div">
        <div class="main-page-main-section-container">
            <div class="main-page-main-section-content">
                <div class="main-page-main-section-content-heading">
                    <h2>Let's <span>Adopt EV</span></h2>
                    <!-- <br> -->
                    <h2>For</h2>
                    <!-- <br> -->
                </div>
                <div class="main-page-main-section-content-illustration">
                    <h2>Carbon Footprint</h2>
                </div>
                <div class="main-page-main-section-content-heading">
                    <h2><strong style="color: #2cae66;font-weight: 800; font-size: 100%;">Sustainablity</strong> </h2>
                </div>
                
            </div>
            <div class="main-page-main-section-image">
                <img src="./images/Home_main-01.png" alt="">
            </div>
        </div>
    </section>
    <section class="main-page-about-us">
        
        <div class="main-page-about-us-container">
            <!-- <div class="main-page-about-us-line"></div> -->
            <h4><strong style="color: #2cae66;">#AdoptEV</strong></h4>
            <div class="main-page-about-us-line"></div>
            <!-- <br> -->
            <h4>On a <strong style="color: #2cae66;">Mission</strong> to reinvent intracity transportation with sustainable, reliable, trusted and preferred electric mobility solutions</h4>
        </div>
        <div class="main-page-about-us-dots-container">
            <div class="main-page-about-us-dots"></div>
            <div class="main-page-about-us-dots"></div>
            <div class="main-page-about-us-dots"></div>
        </div>
    </section>
    <!-- ----------------------------logistics and passenger-------------------------------- -->
    <section id="OurServices" class="main-page-logistics">
        <div class="main-page-logistics-heading">
            <!-- <h3>AdoptEV Assure</h3> -->
            <h1>Our <strong style="color: #2cae66;">Services</strong></h1>
        </div>
        <div class="main-page-logistics-container">
            <div class="main-page-logistics-inside-container">
                <div class="main-page-logistics-inside-container-small-immge-container">
                    <img src="./images/Logistics-01.png" alt="">
                </div>
                <div class="main-page-logistics-inside-container-content">
                    <div class="main-page-logistics-inside-container-content-heading">
                        <h3>Intracity Tech-logistics</h3>
                    </div>
                    <div class="main-page-logistics-inside-container-content-paragraph">
                        <p>Aim for customer delight by providing first & last mile logistics solutions with most reliable, trusted & preferred services by understanding their critical requirements & accordingly offering innovative, digital, shared, connected, cost effective, on-time delivery.</p>
                    </div>
                    <!-- <div class="main-page-logistics-inside-container-content-line">
                        
                    </div> -->
                </div>
            </div>
        </div>
        <div class="main-page-logistics-illustrations-container">
            <div class="main-page-logistics-illustrations-element-container">
                <div class="main-page-logistics-illustrations-element-image-container">
                    <img src="/images/3-03.png" alt="">
                </div>
                <div class="main-page-logistics-illustrations-element-heading">
                    <h6>First & Last Mile</h6>
                </div>
            </div>
            <div class="main-page-logistics-illustrations-element-container">
                <div class="main-page-logistics-illustrations-element-image-container">
                    <img src="/images/4-03.png" alt="">
                </div>
                <div class="main-page-logistics-illustrations-element-heading">
                    <h6>Micro Warehousing</h6>
                </div>
            </div>
            <div class="main-page-logistics-illustrations-element-container">
                <div class="main-page-logistics-illustrations-element-image-container">
                    <img src="/images/2-03.png" alt="">
                </div>
                <div class="main-page-logistics-illustrations-element-heading">
                    <h6>Fleet Simplified </h6>
                </div>
            </div>
            <div class="main-page-logistics-illustrations-element-container">
                <div class="main-page-logistics-illustrations-element-image-container">
                    <img src="/images/3-02.png" alt="">
                </div>
                <div class="main-page-logistics-illustrations-element-heading">
                    <h6>Co-branding</h6>
                </div>
            </div>
        </div>
    </section>
    <!-- ------------------------------Our services--------------------------------------------- -->
    
    <section class="our-services">
        <div class="our-services-heading">
            <h3><strong>#AdoptEV</strong> </h3>
            <h1>Our Offerings</h1>
        </div>
        <div class="our-services-container">
            <div class="our-services-container-element">
                <div class="our-services-container-element-img">
                    <img src="./images/921-02.png" alt="">
                </div>
                <div class="our-services-container-element-heading">
                    <h4>Geo Fencing & Route Planning</h4>
                </div>
                <!-- <div class="our-services-container-element-content">
                    <p>All our cars are 100% Electric, and have zero-tailpipe emission.</p>
                </div> -->
            </div>
            <div class="our-services-container-element">
                <div class="our-services-container-element-img">
                    <img src="./images/5-02.png" alt="">
                </div>
                <div class="our-services-container-element-heading">
                    <h4>Fleet & Driver Management</h4>
                </div>
                <!-- <div class="our-services-container-element-content">
                    <p>You know our fare. It’s ₹149, anywhere to anywhere in Gurugram.</p>
                </div> -->
            </div>
            <div class="our-services-container-element">
                <div class="our-services-container-element-img">
                    <img src="./images/243-02.png" alt="">
                </div>
                <div class="our-services-container-element-heading">
                    <h4>Shared & Connected Mobility</h4>
                </div>
                <!-- <div class="our-services-container-element-content">
                    <p>Experience a noiseless, premium sedan. You’ll never want to travel the old way again.</p>
                </div> -->
            </div>
        </div>
        <div class="our-services-container">
            <div class="our-services-container-element">
                <div class="our-services-container-element-img">
                    <img src="./images/4-02.png" alt="">
                </div>
                <div class="our-services-container-element-heading">
                    <h4>Clean & Green Transportation</h4>
                </div>
                <!-- <div class="our-services-container-element-content">
                    <p>Our driver will never cancel your Ride. Count on us for your daily commute.</p>
                </div> -->
            </div>
            <div class="our-services-container-element">
                <div class="our-services-container-element-img">
                    <img src="./images/292-02.png" alt="">
                </div>
                <div class="our-services-container-element-heading">
                    <h4>Safe & Secure Delivery</h4>
                </div>
                <!-- <div class="our-services-container-element-content">
                    <p>They’re trusted & responsible too, and they’re engaged with us full-time. We care deeply about your safety.</p>
                </div> -->
            </div>
        </div>
        
    </section>
    
    <!-- -------------------------------------------contact Us---------------------------------- -->
    <section id="main-page-contact-us-section" class="main-page-contact-us">
        <div class="main-page-contact-us-heading">
            <h3>Let's Get in <strong style="color: #2cae66;">Touch</strong></h3>
        </div>
        <div class="main-page-contact-us-container">
            <div class="main-page-contact-us-mobile-container">
                <div class="main-page-contact-us-social-link">
                    <i class="fa fa-mobile" aria-hidden="true"></i>
                </div>
                <h6>+91-8882454501</h6>
                <h6>+91-8950859014</h6>
            </div>
            <div class="main-page-contact-us-mail-container">
                <div class="main-page-contact-us-social-link">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                </div>
                <h6>Info@adoptev.com</h6>
                <!-- <h6>support@adoptev.com</h6> -->
            </div>
            <div class="main-page-contact-us-location-container">
                <div class="main-page-contact-us-social-link">
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                </div>
                <h6>1062, Sector-18,</h6>
                <h6>Old Faridabad, Faridabad</h6>
                <h6>Haryana-121002</h6>
            </div>
        </div>
    </section>
    <!-- <section id="main-page-contact-us-section" class="contact-us">
        <div class="contact-us-container">
            <div class="contact-us-content-section">
                <div class="contact-us-content-section-heading">
                    <h3>Contact Us</h3>
                    <h2>Get In Touch With <b>US</b></h2>
                </div>
                <div class="contact-us-content-section-para">
                    <p>Whether you are a customer or anyone from a company
                        Have a query..??<br>
                        Just Fill up the form to drop us a message and someone from our
                        team will get back in touch with you.</p>
                </div>
            </div>
            <div class="contact-us-form-section">
                <div class="contact-us-form-    section-container">
                    <form id="enquirySubmitForm" action="/enquiry">
                        <input type="text" name="name" id="" placeholder="Your Full Name" required>
                        <input type="email" name="email" id="" placeholder="Your valid Email ID" required>
                        <input type="number" name="phone" id=""  placeholder="Phone Number So That We Can Contact You" required>
                        <select name="userType" id="cars" onchange="expandform(this.value)"  required>
                            <option value="customer">Customer</option>
                            <option value="partner">Partner</option>
                            <option value="driver">Driver</option>
                            <option value="fleetOwner">Fleet Owner</option>
                        </select>
                        <input type="text" name="company" id="contact-us-form-company" style="display: none;" placeholder="A CO. or org you are writing in behalf of" >
                        <input type="text" name="position" id="contact-us-form-position" style="display: none;" placeholder="Your Job title" >
                        <textarea name="enquiry" id="contact-us-form-enquiry" rows="2" placeholder="Your Enquiry?"></textarea>
                        <input type="submit" id="enquirySubmitButton" value="End You Enquiry">
                    </form>
                    <div class="form-submission-after-message">
                        <i class="fa fa-check-circle" aria-hidden="true"></i>
                        Our Team will contact you soon!!
                    </div>
                </div>
            </div>
        </div>
    </section>
     -->
    
    <script src="/js/enquiryAjax.js"></script>