
    <link rel="stylesheet" href="/css/style.css">
    
    <!-- ----------------------------------side social icons------------------------------- -->
    <!-- <section class="fixed-social-icons">
        <span style="background-color :#3b5998 "><i class="fa fa-facebook-f"></i></span>
        <span style="background-color :#00acee "><i class="fa fa-twitter"></i></span>
        <span style="background-color :#db3236 "><i class="fa fa-youtube"></i></span>
        <span style="background-color :#3f729b "><i class="fa fa-instagram"></i></span>
    </section> -->
    <!-- -----------------------------------------Landing Section------------------------- -->
    <section class="main-section navbar-color-change-div">
        <div class="main-section-writing">
            <h1 class="main-section-main-heading">Mission : Electric</h1>
        </div>
        <div class="main-section-writing">
            <h3 class="main-section-main-tagline">An effort to reduce pollution by connecting drivers with our solution</h3>
        </div>
        <div class="main-section-writing">
            <h1 class="main-section-main-link"><a href="#">Connect With Us</a></h1>
        </div>
    </section>
    <!-- --------------------------------mission-------------------------------------------- -->
    <section class="home-page-mission">
        <div class="home-page-mission-dots">
            <div class="home-page-mission-dots-container">
                <div class="home-page-mission-dots-container-dots"></div>
                <div class="home-page-mission-dots-container-dots"></div>
                <div class="home-page-mission-dots-container-dots"></div>
            </div>
        </div>
        <div class="home-page-mission-paragraph">
            <p>On a mission to reinvent intracity transportation with sustainable, reliable, trusted and preferred electric mobility solutions.</p>
        </div>
        <div class="home-page-mission-line">

        </div>
    </section>
    <!-- ------------------------------Our services--------------------------------------------- -->
    <section class="our-services">
        <div class="our-services-heading">
            <h3>#AdoptElectricVehicle</h3>
            <h1>What We Offers</h1>
        </div>
        <div class="our-services-container">
            <div class="our-services-container-element">
                <div class="our-services-container-element-img">
                    <img src="./images/guilt-free.png" alt="">
                </div>
                <div class="our-services-container-element-heading">
                    <h4>Move Guilt-Free</h4>
                </div>
                <div class="our-services-container-element-content">
                    <p>All our cars are 100% Electric, and have zero-tailpipe emission.</p>
                </div>
            </div>
            <div class="our-services-container-element">
                <div class="our-services-container-element-img">
                    <img src="./images/purge-the-surge.png" alt="">
                </div>
                <div class="our-services-container-element-heading">
                    <h4>Purge the Surge</h4>
                </div>
                <div class="our-services-container-element-content">
                    <p>You know our fare. It’s ₹149, anywhere to anywhere in Gurugram.</p>
                </div>
            </div>
            <div class="our-services-container-element">
                <div class="our-services-container-element-img">
                    <img src="./images/quiet-revolution.png" alt="">
                </div>
                <div class="our-services-container-element-heading">
                    <h4>Join the #QuietRevolution</h4>
                </div>
                <div class="our-services-container-element-content">
                    <p>Experience a noiseless, premium sedan. You’ll never want to travel the old way again.</p>
                </div>
            </div>
        </div>
        <div class="our-services-container">
            <div class="our-services-container-element">
                <div class="our-services-container-element-img">
                    <img src="./images/no-cancellation.png" alt="">
                </div>
                <div class="our-services-container-element-heading">
                    <h4>Move without Frustration</h4>
                </div>
                <div class="our-services-container-element-content">
                    <p>Our driver will never cancel your Ride. Count on us for your daily commute.</p>
                </div>
            </div>
            <div class="our-services-container-element">
                <div class="our-services-container-element-img">
                    <img src="./images/safety.png" alt="">
                </div>
                <div class="our-services-container-element-heading">
                    <h4>Our Drivers are awesome</h4>
                </div>
                <div class="our-services-container-element-content">
                    <p>They’re trusted & responsible too, and they’re engaged with us full-time. We care deeply about your safety.</p>
                </div>
            </div>
        </div>
        
    </section>
    <!-- ----------------------------logistics and passenger-------------------------------- -->
    <section id="OurServices" class="main-page-logistics">
        <div class="main-page-logistics-heading">
            <h3>AdoptEV Assure</h3>
            <h1>Invest In Building A Cleaner Future</h1>
        </div>
        <!-- <div class="main-page-logistics-container"> -->
            <div class="main-page-logistics-inside-container">
                <div class="main-page-logistics-inside-container-small-immge-container">
                    <img src="./images/Logistics-01.png" alt="">
                </div>
                <div class="main-page-logistics-inside-container-content">
                    <div class="main-page-logistics-inside-container-content-heading">
                        <h3>Logistics</h3>
                    </div>
                    <div class="main-page-logistics-inside-container-content-paragraph">
                        <p>Aim for customer delight by providing first and last mile logistics solutions with most reliable, trusted and preferred services by understanding their critical requirements and accordingly offering innovative, digital, shared, connected, cost effective, on-time delivery.</p>
                    </div>
                    <div class="main-page-logistics-inside-container-content-line">
                        
                    </div>
                </div>
            </div>
        <!-- </div> -->
    </section>

    <!-- -------------------------------------------contact Us---------------------------------- -->
    <section class="contact-us">
        <div class="contact-us-container">
            <div class="contact-us-content-section">
                <div class="contact-us-content-section-heading">
                    <h3>Contact Us</h3>
                    <h2>Get In Touch With <b>US</b></h2>
                </div>
                <div class="contact-us-content-section-para">
                    <p>Whether you are a customer or anyone from a company
                        Have a query..??<br>
                        Just Fill up the form to drop us a message and someone from our
                        team will get back in touch with you.</p>
                </div>
                
            </div>
            <div class="contact-us-form-section">
                <div class="contact-us-form-section-container">
                    <form id="enquirySubmitForm" action="/enquiry">
                        <input type="text" name="name" id="" placeholder="Your Full Name">
                        <input type="email" name="email" id="" placeholder="Your valid Email ID">
                        <input type="number" name="phone" id=""  placeholder="Phone Number So That We Can Contact You">
                        <select name="userType" id="cars" onchange="expandform(this.value)">
                            <option value="customer">Customer</option>
                            <option value="partner">Partner</option>
                            <option value="driver">Driver</option>
                            <option value="fleetOwner">Fleet Owner</option>
                        </select>
                        <input type="text" name="company" id="contact-us-form-company" style="display: none;" placeholder="A CO. or org you are writing in behalf of">
                        <input type="text" name="position" id="contact-us-form-position" style="display: none;" placeholder="Your Job title">
                        <textarea name="enquiry" id="contact-us-form-enquiry" rows="2" placeholder="Your Enquiry?"></textarea>
                        <input type="submit" id="enquirySubmitButton" value="End You Enquiry">
                    </form>
                    <div class="form-submission-after-message">
                        <i class="fa fa-check-circle" aria-hidden="true"></i>
                        Our Team will contact you soon!!
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    