
    
    <!-- ----------------------------------side social icons------------------------------- -->
    <!-- <section class="fixed-social-icons">
        <span style="background-color :#3b5998 "><i class="fa fa-facebook-f"></i></span>
        <span style="background-color :#00acee "><i class="fa fa-twitter"></i></span>
        <span style="background-color :#db3236 "><i class="fa fa-youtube"></i></span>
        <span style="background-color :#3f729b "><i class="fa fa-instagram"></i></span>
    </section> -->
    <!-- -----------------------------------------Landing Section------------------------- -->
    <section class="main-section navbar-color-change-div">
        <div class="main-section-writing">
            <h1 class="main-section-main-heading">Mission : Electric</h1>
        </div>
        <div class="main-section-writing">
            <h3 class="main-section-main-tagline">An effort to reduce pollution by connecting drivers with our solution</h3>
        </div>
        <div class="main-section-writing">
            <h1 class="main-section-main-link"><a href="#">Connect With Us</a></h1>
        </div>
    </section>
    <!-- ------------------------------------------logistics----------------------------------- -->
    <section class="logistics">
        <div class="logistics-heading">
            <h3>Our Methods</h3>
            <h1>Logistics & Passenger</h1>
        </div>
        <div class="logistics-container">
            <div class="logistics-container-element-1">

            </div>
            <div class="logistics-container-element-2">
                
            </div>
        </div>
    </section>
    <!-- --------------------------------About us---------------------------------------------- -->
    <section class="about-us">
        <div class="about-us-container">
            <div class="about-us-image-section">
                <div class="about-us-image-section-img">
                    <img  src="./images/team-people-work-on-peak-260nw-401827843.jpg" alt="About Us">
                </div>
            </div>
            <div class="about-us-content-section">
                <div class="about-us-content-section-heading">
                    <h3>About Us</h3>
                    <h2>WE ARE <b>PROVIDERS</b></h2>
                </div>
                <div class="about-us-content-section-para">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <div class="about-us-button-section">
                    <a href="#"><button>Know Us More</button></a>
                </div>
            </div>
        </div>
    </section>
    <!-- -------------------------------------------blog-posts---------------------------------------------------------- -->
    <section class="blog-posts">
        <div class="blog-posts-heading">
            <h3>Our Methods</h3>
            <h1>Logistics & Passenger</h1>
        </div>
        <div class="blog-posts-container">
            <div class="blog-posts-carousel-wrapper">
                <div class="blog-posts-carousel">
                    <div class="carousel__photo">
                        <div class="carousel__photo_element">

                        </div>
                        <div class="carousel__photo_element">
                        
                        </div>
                        
                    </div>
                    <div class="carousel__photo">
                        <div class="carousel__photo_element">

                        </div>
                        <div class="carousel__photo_element">
                        
                        </div>
                        <!-- <div class="carousel__photo_element">
                        
                        </div> -->
                    </div>
                    <div class="carousel__photo">
                        
                    </div>
                    <!-- <div class="carousel__photo">
                        
                    </div> -->
                    <!-- <div class="carousel__photo">
                        
                    </div> -->
                    <!-- <img class="carousel__photo initial" src="./images/download (1).jpg">
                    <img class="carousel__photo" src="./images/download (1).jpg">
                    <img class="carousel__photo" src="./images/download.jpg">
                    <img class="carousel__photo" src="./images/download (1).jpg">
                    <img class="carousel__photo" src="./images/download.jpg"> -->
                    <!-- next and previous buttons in a carousel -->
                    <div class="carousel__button--next"></div>
                    <div class="carousel__button--prev"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- ------------------------------------------Services we provide (hire-us)----------------------------------- -->
    <!-- <section class="hire-vehicle">
        <div class="hire-vehicle-heading">
            <h3>What we offer/ Services</h3>
            <h1>You have two Choices</h1>
        </div>
        <div class="hire-vehicle-container">
            <div class="hire-vehicle-container-element-1">

            </div>
            <div class="hire-vehicle-container-element-2">
                
            </div>
        </div>
    </section> -->
    <!-- ------------------------------Our services--------------------------------------------- -->
    <section class="services">
        <div class="services-heading">
            <h3>Our Services</h3>
            <h1>What We Offers</h1>
        </div>
        <div class="services-provide-container">
            <div class="services-provide-container-element">
                <div class="services-provide-container-element-icon">
                    <img src="./images/158575-200.png" alt="">
                </div>
                <div class="services-provide-container-element-content">
                    <h2>Green Vehicle</h2>
                    <p>Consectetur adipiscing elit incididunt ut labore et dolore magna aliqua. Risus commodo viverra maecenas.</p>
                </div>
            </div>
            <div class="services-provide-container-element">
                <div class="services-provide-container-element-icon">
                    <img src="./images/158575-200.png" alt="">
                </div>
                <div class="services-provide-container-element-content">
                    <h2>Eco Friendly</h2>
                    <p>Consectetur adipiscing elit incididunt ut labore et dolore magna aliqua. Risus commodo viverra maecenas.</p>
                </div>
            </div>
            <div class="services-provide-container-element">
                <div class="services-provide-container-element-icon">
                    <img src="./images/158575-200.png" alt="">
                </div>
                <div class="services-provide-container-element-content">
                    <h2>Connected Vehicle</h2>
                    <p>Consectetur adipiscing elit incididunt ut labore et dolore magna aliqua. Risus commodo viverra maecenas.</p>
                </div>
            </div>
        </div>
        <div class="services-provide-container">
            <div class="services-provide-container-element">
                <div class="services-provide-container-element-icon">
                    <img src="./images/158575-200.png" alt="">
                </div>
                <div class="services-provide-container-element-content">
                    <h2>Real time Trackable</h2>
                    <p>Consectetur adipiscing elit incididunt ut labore et dolore magna aliqua. Risus commodo viverra maecenas.</p>
                </div>
            </div>
            <div class="services-provide-container-element">
                <div class="services-provide-container-element-icon">
                    <img src="./images/158575-200.png" alt="">
                </div>
                <div class="services-provide-container-element-content">
                    <h2>Low on Air high on efficiency</h2>
                    <p>Consectetur adipiscing elit incididunt ut labore et dolore magna aliqua. Risus commodo viverra maecenas.</p>
                </div>
            </div>
        </div>
    </section>
    <!-- ------------------------------------------Partner-us----------------------------------- -->
    <section class="station-partner-us">
        <div class="station-partner-us-container">
            <div class="station-partner-us-photo-part">
                <img src="./images/images.jpg" alt="">
            </div>
            <div class="station-partner-us-content-part">
                <h3>AdoptEV Charge</h3>
                <h2>Charge for Change</h2>
                <p>We are building India’s first open public fast charging and aggregation network bringing Bharat Charge, CCS and CHAdeMO – all on One Map-One Network.</p>
                <div class="station-partner-us-content-part-button-section">
                    <a href="#"><button>Partner With Us</button></a>
                </div>
            </div>
        </div>
    </section>
    <section class="driver-partner-us">
        <div class="driver-partner-us-container">
            <div class="driver-partner-us-content-part">
                <h3>AdoptEV Charge</h3>
                <h2>Charge for Change</h2>
                <p>We are building India’s first open public fast charging and aggregation network bringing Bharat Charge, CCS and CHAdeMO – all on One Map-One Network.</p>
                <div class="driver-partner-us-content-part-button-section">
                    <a href="#"><button>Partner With Us</button></a>
                </div>
            </div>
            <div class="driver-partner-us-photo-part">
                <img src="./images/carimage.png" alt="">
            </div>
        </div>
    </section>
        
    