<link rel="stylesheet" href="/css/partnerUs.css">

<section class="partner-us-landing navbar-color-change-div">
    <div class="partner-us-landing-heading">
        <h1>Partner Us</h1>
    </div>
</section>
<!-- ---------------------------------fleet partner us ------------------------- -->
<section class="fleet-partner-us">
    <div class="fleet-partner-us-heading">
        <h3>AdoptEV Assure</h3>
        <h1>Invest In Building A Cleaner Future</h1>
    </div>
    <div class="fleet-partner-us-container">
        <div class="fleet-partner-us-container-content-part">
            <div class="fleet-partner-us-container-content-part-heading">
                <h3>AdoptEV Assure</h3>
                <h2>Invest In Building A Cleaner Future</h2>
            </div>
            <div class="fleet-partner-us-container-content-part-content">
                <p>We are on a mission to make mobility more green and eco-friendly in India. We invite innovative and technology startups, manufacturers, investors and individuals in electric mobility industry to collaborate with us in making transportation green and clean.</p>
            </div>
            <div class="fleet-partner-us-container-content-part-button">
                <button>Partner Us</button>
            </div>
        </div>
        <div class="fleet-partner-us-container-img-part">
            <img src="./images/car-vehicle-white-sports-car-86993.jpg" alt="">
        </div>
    </div>
</section>
<!-- -------------------------------- charge-partner-us ------------------------- -->
<section class="charge-partner-us">
    <div class="charge-partner-us-heading">
        <h3>AdoptEV Smart Charge</h3>
        <h1>Charged for Change</h1>
    </div>
        
    <div class="charge-partner-us-container">
        <div class="charge-partner-us-container-img-part">
            <img src="./images/two-white-and-red-tesla-charging-station-2480315.jpg" alt="">
        </div>
        <div class="charge-partner-us-container-content-part">
            <div class="charge-partner-us-container-content-part-heading">
                <h3>AdoptEV Smart Charge</h3>
                <h2>Charged for Change</h2>
            </div>
            <div class="charge-partner-us-container-content-part-content">
                <p>Participate in the mission of building EV charging infrastructure by investing and partnering with us in battery, charging and swapping stations, telematics and much more.</p>
            </div>
            <div class="charge-partner-us-container-content-part-button">
                <button>Partner Us</button>
            </div>
        </div>
    </div>
</section>
<!-- ---------------------------------drive-with-us ------------------------- -->
<section class="drive-with-us">
    <div class="drive-with-us-heading">
        <h3>Drive with Us</h3>
        <h1>Change the way India moves</h1>
    </div>
    <div class="drive-with-us-container">
        <div class="drive-with-us-container-content-part">
            <div class="drive-with-us-container-content-part-heading">
                <h3>Drive with Us</h3>
                <h2>Change the way India moves</h2>
            </div>
            <div class="drive-with-us-container-content-part-content">
                <p>Collaborate in "electric vehicle grid mission" as an investor, technology, vehicle and delivery partner and get guaranteed and attractive returns every month</p>
            </div>
            <div class="drive-with-us-container-content-part-button">
                <button>Join Us</button>
            </div>
        </div>
        <div class="drive-with-us-container-img-part">
            <img src="./images/blue-smart-fortwo-166680.jpg" alt="">
        </div>
    </div>
</section>