<link rel="stylesheet" href="/css/partnerUs.css">

<section class="partner-us-main-section navbar-color-change-div">
    <div class="partner-us-main-section-container">
        <div class="partner-us-main-section-content">
            <div class="partner-us-main-section-content-heading">
                <h2>Partner With Us</h2>
                <p>We are on a mission to make mobility more green and eco-friendly in India. We invite innovative and technology startups, manufacturers, investors and individual entrepreneurs in electric mobility industry to collaborate with us in making transportation green and clean.</p>
            </div>
        </div>
        <div class="partner-us-main-section-image">
            <img src="./images/Main-04.png" alt="">
        </div>
    </div>
</section>
<!-- -------------------------------- section-first ------------------------- -->
<section class="section-first-partner-us">
    <div class="section-first-partner-us-heading">
        <!-- <h3>AdoptEV Smart Charge</h3> -->
        <h2>Green India with <strong style="color: #2cae66;">Adopt EV</strong></h2>
    </div>
        
    <div class="section-first-partner-us-container">
        <div class="section-first-partner-us-container-img-part">
            <img src="./images/1-02.png" alt="">
        </div>
        <div class="section-first-partner-us-container-content-part">
            <div class="section-first-partner-us-container-content-part-heading">
                <!-- <h3>AdoptEV Smart Charge</h3> -->
                <h2>Green India with <strong style="color: #2cae66;">Adopt EV</strong></h2>
            </div>
            <div class="section-first-partner-us-container-content-part-content">
                <p>Collaborate in "electric vehicle grid mission" as an investor, technology, vehicle and delivery partner and get guaranteed and attractive returns every month.</p>
            </div>
            <!-- <div class="section-first-partner-us-container-content-part-button">
                <button>Partner Us</button>
            </div> -->
        </div>
    </div>
</section>
<!-- ---------------------------------fleet partner us ------------------------- -->
<section class="section-second-partner-us">
    <div class="section-second-partner-us-heading">
        <!-- <h3>AdoptEV Assure</h3> -->
        <h2>Join Hands with <strong style="color: #2cae66;">Adopt EV</strong> to support Sustainable Mobility</h2>
    </div>
    <div class="section-second-partner-us-container">
        <div class="section-second-partner-us-container-content-part">
            <div class="section-second-partner-us-container-content-part-heading">
                <!-- <h3>AdoptEV Assure</h3> -->
                <h2>Join Hands with <strong style="color: #2cae66;">Adopt EV</strong> to support Sustainable Mobility</h2>
            </div>
            <div class="section-second-partner-us-container-content-part-content">
                <p>Participate in the mission of building EV charging infrastructure by investing and partnering with us in battery, charging and swapping stations, telematics and much more.</p>
            </div>
            <!-- <div class="section-second-partner-us-container-content-part-button">
                <button>Partner Us</button>
            </div> -->
        </div>
        <div class="section-second-partner-us-container-img-part">
            <img src="./images/2-02.png" alt="">
        </div>
    </div>
</section>
<!-- -------------------------------- charge-partner-us ------------------------- -->
<section class="section-third-partner-us">
    <div class="section-third-partner-us-heading">
        <!-- <h3>AdoptEV Smart section-third</h3> -->
        <h2>Promote With <strong style="color: #2cae66;">Adopt EV</strong></h2>
    </div>
        
    <div class="section-third-partner-us-container">
        <div class="section-third-partner-us-container-img-part">
            <img src="./images/3-02.png" alt="">
        </div>
        <div class="section-third-partner-us-container-content-part">
            <div class="section-third-partner-us-container-content-part-heading">
                <!-- <h3>AdoptEV Smart section-third</h3> -->
                <h2>Promote With <strong style="color: #2cae66;">Adopt EV</strong></h2>
            </div>
            <div class="section-third-partner-us-container-content-part-content">
                <p>Now attract more customers and increase revenues and earnings manyfold by promoting your products and services as an advertisement on our vehicles.</p>
            </div>
            <!-- <div class="section-third-partner-us-container-content-part-button">
                <button>Partner Us</button>
            </div> -->
        </div>
    </div>
</section>
<section class="partner-us-form-button">
    <button onclick="appearForm()"><strong>Partner Us</strong></button>
</section>
<section class="partner-us-pop-up-form">
    
    <form id="partner-us-form-submission" class="partner-us-form" action="/form/partner-us-form" method="post">
        <h4>Fill Out the form To be a Part of <span style="color: #2cae66;">AdoptEV</span></h4>
        <input type="text" name="name" id="" placeholder="You Name" required>
        <input type="text" name="CompanyName" id="" placeholder="Company Name" required>
        <input type="email" name="email" id="" placeholder="Your Official Email" required>
        <input type="number" name="phone" id="" placeholder="Your Contact Number" required>
        <input type="text" name="partnerType" id="" placeholder="You wish to Partner us for What??" required>
        <textarea name="message" id="" placeholder="Note" required></textarea>
        <input type="submit" value="Request a Call">
    </form>
    <div class="partner-us-form-message-after-submission">
        <i class="fa fa-check-circle" aria-hidden="true"></i>
        Our Team will contact you soon!!
    </div>
</section>
<section onclick="disappearForm()" class="partner-us-blur-page">

</section>

<script src="/js/partnerUsForm.js"></script>