<br><br><br><br><br><br><br><br><br><br><br>
<form action="/users/create-session" method="post">
    <input type="email" name="email" id="" placeholder="Your Email">
    <input type="password" name="password" id="" placeholder="Your Password">
    <input type="submit" value="Log In Now">
</form>
<br><br><br><br>