<br><br><br><br><br><br><br><br><br><br><br>

<form action="/users/create-user" method="post">
    <input type="text" name="name" id="" placeholder="Your Name" required>
    <input type="email" name="email" id="" placeholder="Your Email ID" required>
    <input type="password" name="password" id="" placeholder="Your Password" required>
    <input type="password" name="confirmPassword" id="" placeholder="Type Your password again" required>
    <input type="submit" value="Sign Up Now">
</form>
<br><br><br>