body{
    padding: 0;
    margin : 0;
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
}
:root {
    --page-color-scheme : #76c04d;
    --page-background-color : rgb(250, 249, 249);
    --page-paragraph-color : #8d8d8d;
    --page-heading-color : #373F41;
  }

h1,h2,h3,h4,h5,h6 { 
    margin: 0;
}
.career-landing-section{
    max-width: 100%;
    height: 70vh;
    background: url('../images/240_F_315286936_Oyj68gEc7Ld0zOIFEUGSfXkSSlFtt3q8.jpg');
    background-size: cover;
}
.career-landing-section-heading{
    position: absolute;
    transform: translate(-50% , -50%);
    top : 60%;
    left:50%;
    color : white;
}
.career-landing-section-heading h1{
    font-weight: 800;
}

/* ------------------life at adoptev--------------- */
.career-life-at-adoptev{
    max-width:100%;
    box-sizing: border-box;
    padding: 40px 5%;
}
.career-life-at-adoptev *{
    box-sizing: border-box;
}
.career-life-at-adoptev-container{
    display: flex;
    max-width: 100%;
    justify-content: center;
}
.career-life-at-adoptev-container-content{
    flex : 50%;
    max-width: 50%;
    min-width: 50%;
    padding : 20px 3%;
}
.career-life-at-adoptev-container-content-heading{
    max-width: 100%;
}
.career-life-at-adoptev-container-content-heading h3{
    font-weight: 600;
}
.career-life-at-adoptev-container-content-material{
    max-width: 100%;
    text-align: justify;
    margin-top:40px;
}
.career-life-at-adoptev-container-content-material p{
    font-weight: 400;
    color : rgba(0, 0, 0, 0.7);
}
.career-life-at-adoptev-container-content-button{
    margin-top : 40px;
}
.career-life-at-adoptev-container-content-button a{
    text-decoration: none;
}
.career-life-at-adoptev-container-content-button a>button{
    padding : 10px 20px;
    cursor: pointer;
    background-color: var(--page-color-scheme);
    color : white;
    font-family: 'Lato', sans-serif;
    outline: none;
    border: none;
}
.career-life-at-adoptev-container-photo{
    flex : 50%;
    max-width: 50%;
    min-width: 50%;
    padding : 20px 3%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.career-life-at-adoptev-container-photo img{
    width : 80%;
    height: 80%;
}

/* ----------------why work at adoptev------------ */
.career-why-work-at-adoptev{
    max-width:100%;
    box-sizing: border-box;
    padding: 20px 5% 40px 5%;
}
.career-why-work-at-adoptev *{
    box-sizing: border-box;
}
.career-why-work-at-adoptev-heading{
    max-width: 100%;
    min-width: 100%;
    text-align: center;
    margin-bottom : 50px;
}
.career-why-work-at-adoptev-heading h3{
    font-weight: 600;
}
.career-why-work-at-adoptev-container{
    max-width: 100%;
    min-width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.career-why-work-at-adoptev-container-element{
    flex : 30%;
    max-width : 30%;
    
}
.career-why-work-at-adoptev-container-element p{
    margin-top: 20px;
    color : rgba(0, 0, 0, 0.7);
}
/* ----------------job opportunities-------------- */
.career-job-opportunities{
    max-width:100%;
    box-sizing: border-box;
    padding: 20px 5% 60px 5%;
}
.career-job-opportunities *{
    box-sizing: border-box;
}
.career-job-opportunities-heading{
    max-width: 100%;
    min-width: 100%;
    text-align: left;
    margin-bottom : 30px;
}
.career-job-opportunities-heading h3{
    font-weight: 600;
}
.career-job-opportunities-content{
    max-width: 50%;
    text-align: justify;
}
.career-job-opportunities-button{
    margin-top : 40px;
    max-width: 30%;
    display: flex;
    justify-content: space-between;
}
.career-job-opportunities-button a{
    text-decoration: none;
}
.career-job-opportunities-button a>button{
    padding : 10px 20px;
    cursor: pointer;
    background-color: var(--page-color-scheme);
    color : white;
    font-family: 'Lato', sans-serif;
    outline: none;
    border: none;
}

/* -------------------pop-up----------------- */
.job-openings-pop-up{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top:0;
    display: none;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    transition: all,0.5s ease-in-out;
}
.job-openings-pop-up-container{
    z-index: 1;
    /* height : 0vh;
    width : 0vw; */
    position: fixed;
    /* top: 55%;
    left:50%; */
    box-sizing: border-box;
    overflow: auto;
    transform: translate(-50%,-50%);
    background-color: white;
    /* transition: all,0.5s ease-in-out; */
    animation-duration: .25s;
    animation-fill-mode : forwards
}
@keyframes popUpFormAnimation{
    from {
        height : 0;
        width : 0;
        top: 50%;
        left: 0%;
    }
    to{
        width : 40vw;
        height: 85vh;
        top: 55%;
        left:50%;
    }
}
.job-openings-pop-up-container-line{
    width : 100%;
    height: 9px;
    background-color : var(--page-color-scheme);
}
.job-openings-pop-up-container-cross-icon{
    position: fixed;
    top: 10vh;
    left : 90vw;
    color: white;
    font-size: 200%;
    z-index: 2;
}
#job-openings-pop-up-container-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#job-openings-pop-up-container-form>input{
    min-width : 90%;
    max-width: 90%;
    box-sizing: border-box;
    padding : 3%;
    margin-top : 10px;
    outline: none;
    border: none;
    border-bottom: 1px solid var(--page-color-scheme);
    background-color: transparent;
}


@media only screen and (max-width: 520px){
    .career-landing-section{
        height: 400px;
    }
    .career-landing-section-heading{
        top : 45%;
        /* bottom : 20%; */
    }
}
@media only screen and (max-width: 768px){
    .career-landing-section-heading{
        max-width: 100%;
        min-width: 100%;
        text-align: center;
    }
    .career-life-at-adoptev-container{
        flex-direction: column-reverse;
    }
    .career-life-at-adoptev-container-content{
        flex : 100%;
        max-width: 100%;
        min-width: 100%;
    }
    .career-life-at-adoptev-container-photo{
        flex : 90%;
        max-width: 90%;
        min-width: 90%;
    }
    .career-life-at-adoptev-container-content-button a>button{
        padding : 7px 15px;
    }
    .career-why-work-at-adoptev-heading h3{
        font-size: 150%;
    }
    .career-why-work-at-adoptev-container{
        flex-direction: column;
        /* align-items: center; */
        /* justify-content: center; */
        padding-left: 5%;

    }
    .career-why-work-at-adoptev-container-element h4{
        font-size: 110%;
    }
    .career-why-work-at-adoptev-container-element{
        flex : 90%;
        max-width: 90%;
        min-width: 90%;
    }
    .career-job-opportunities-heading h3{
        font-size: 150%;
    }
    .career-job-opportunities-content{
        max-width: 90%;
    }
    .career-job-opportunities-button{
        max-width: 100%;
    }
    .career-job-opportunities-button a>button{
        padding : 10px 12px;
    }
    .job-openings-pop-up-container{
        min-width: 90vw;
    }
    .job-openings-pop-up-container-cross-icon{
        top : 13vh;
        left : 87vw;
        color: #393939;
    }
}