body{
    margin : 0;
    padding: 0;
}
.contact-us-landing{
    max-width: 100%;
    height: 70vh;
    background: url('../images/240_F_198377401_nlBw6FN6jdEonsspdqfAmv7ZxkKKgBhJ.jpg');
    background-position: center;
    background-size: cover;
}
.contact-us-landing-heading{
    width: 100%;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    text-align: center;
}
.contact-us-landing h1{
    font-weight: 700;
    color: white;
}
@media only screen and (max-width: 520px){
    .contact-us-landing-heading{
        width: 100%;
        top : 40%;
    }
    .contact-us-landing-heading h1{
        font-size: 150%;
    }
    .contact-us-landing{
        height: 300px;
    }
}
/* -------------------------------contact-us--------------------------------------------- */
