body{
    padding: 0;
    margin : 0;
    overflow-x: hidden;
    font-family: 'Barlow', sans-serif;
}
:root {
    --page-color-scheme : #76c04d;
    --page-background-color : rgb(250, 249, 249);
    --page-paragraph-color : #373F41;
    --page-heading-color : #373F41;
  }

h1,h2,h3,h4,h5,h6 { 
    margin: 0;
}
.dashboard-landing-section{
    height: 70vh;
    width: 100vw;
    background: url('../images/about-us-image.jpg');
    background-position: center;
    background-size: contain;
}

.dashboard-landing-section::after{
    content: '';
    position: absolute;
    top : 0;
    left: 0;
    width: 100vw;
    height: 70vh;
    background-color: rgba(0, 0, 0, 0.4);
    
}
.dashboard-landing-section-heading{
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
    color: white;
    z-index: 2;
}

.dashboard-landing-section-heading h1{
    font-weight: 800;
}

.dashboard-full-page-container{
    width: 100vw;
    display: flex;
    padding: 20px 5%;
}
.dashboard-full-page-left-side{
    flex: 55%;
    max-width: 55%;
    box-sizing: border-box;
}
.dashboard-full-page-left-side-heading{
    width: 100%;
    margin: 20px 0 30px 0;
}
.dashboard-full-page-left-side-heading h3{
    font-weight: 600;
}
.dashboard-left-side-accept-or-reject-cards{
    width: 100%;
    box-shadow: 5px 5px 15px #ccc;
    border: 2.5px solid var(--page-color-scheme);
    /* border-radius: 10px; */
    overflow: hidden;
    perspective: 500px;
    background-color: white;
    transform: rotateX(30deg);
    display: flex;
    flex-direction: column;
    padding: 10px 5%;
}
.dashboard-left-side-accept-or-reject-cards-place-element{
    display: flex;
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}
.dashboard-left-side-cards-from-container{
    flex: 50%;
    box-sizing: border-box;
    max-width: 50%;
    box-sizing: border-box;
    padding: 0 5% 0px 5%;
    border-right: 1px solid #ccc;
    overflow: auto;
    scrollbar-base-color: var(--page-color-scheme);
}
.dashboard-left-side-cards-from-container h6{
    color: var(--page-color-scheme);
    max-width: 100%;
}
.dashboard-left-side-cards-from-container>div{
    border-radius: 50%; 
    height: 10px; 
    width: 10px; 
    background-color: #76c04d; 
    display: inline-block;
}


.dashboard-left-side-cards-to-container{
    flex: 50%;
    box-sizing: border-box;
    max-width: 50%;
    padding: 0 5% 0px 5%;
    overflow: auto;
}
.dashboard-left-side-cards-to-container>h6{
    color: var(--page-color-scheme);
}
.dashboard-left-side-cards-to-container>div{
    border-radius: 50%; 
    height: 10px; 
    width: 10px; 
    background-color: red; 
    display: inline-block;
}

.dashboard-left-side-accept-or-reject-cards-other-details-element{
    display: flex;
    width: 100%;
    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}
.dashboard-left-side-accept-or-reject-cards-other-details-element h6{
    color: var(--page-color-scheme);
}
.dashboard-left-side-accept-or-reject-cards-other-details-load{
    flex: 30%;
    max-width: 30%;
    border-right: 1px solid #ccc;
    padding: 0 5%;
}
.dashboard-left-side-accept-or-reject-cards-other-details-date{
    flex: 40%;
    max-width: 40%;
    border-right: 1px solid #ccc;
    padding: 0 5%;
}
.dashboard-left-side-accept-or-reject-cards-other-details-price{
    flex: 30%;
    max-width: 30%;
    padding: 0 5%;
}
.dashboard-left-side-accept-or-reject-cards-accept-or-reject-element{
    width: 100%;
    display: flex;
    margin-top: 10px;
    padding: 0 5%;
}
.dashboard-left-side-accept-button{
    padding: 10px 15px;
    background-color:var(--page-color-scheme);
    color: white;
    border: none;
    outline: none;
}

.dashboard-left-side-reject-button{
    padding: 10px 15px;
    background-color: salmon;
    color: white;
    border: none;
    outline: none;
    margin-left: 30px;
}
.dashboard-full-page-right-side{
    flex: 45%;
    max-width: 45%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 5%;
}
.dashboard-full-page-right-side-heading{
    max-width: 100%;
}
.dashboard-full-page-right-side-heading h3{
    font-weight: 600;
}
.dashboard-requesting-price-form-container{
    max-width: 90%;
    margin-top: 30px;
}

#dashboard-requesting-price-form{
    max-width: 100%;
}
#dashboard-requesting-price-form input{
    width: 100%;
    margin-top: 10px;
    padding: 10px 15px;
}

#dashboard-requesting-price-form input[type=submit]{
    background-color: var(--page-color-scheme);
    color: white;
    border: none;
    outline: none;
}