
body{
  padding: 0;
  margin : 0;
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
}
:root {
  --page-color-scheme : #2cae66;
  --page-background-color : rgba(210, 185, 233, 0.16);
  --page-paragraph-color : #8d8d8d;
  --page-heading-color : #373F41;
}

  
  .f04-mainbox {
    margin: 0 auto;
    height: 550px;
    width: 600px;
    position: relative;
  }
  
  .f04-err {
      color: var(--page-color-scheme);
      font-family: 'Nunito Sans', sans-serif;
      font-size: 11rem;
      position:absolute;
      left: 20%;
      top: 8%;
    }
  
  .far {
    position: absolute;
    font-size: 8.5rem;
    left: 42%;
    top: 15%;
    color:  var(--page-color-scheme);
  }
  
   .f04-err2 {
      color:  var(--page-color-scheme);
      font-family: 'Nunito Sans', sans-serif;
      font-size: 11rem;
      position:absolute;
      left: 68%;
      top: 8%;
    }
  
  .f04-msg {
      text-align: center;
      font-family: 'Nunito Sans', sans-serif;
      font-size: 1.6rem;
      position:absolute;
      left: 16%;
      top: 45%;
      width: 75%;
    }
  
    .f04-msg  a {
    text-decoration: none;
    color: var(--page-color-scheme);
    text-decoration: none;
  }
  
  .f04-msg a:hover {
    text-decoration: underline;
    color: var(--page-color-scheme);
  }

  @media only screen and (max-width: 520px){
    body{
      background-color: white;
    }
    .f04-mainbox {
      height: 100vh;
      width: 100vw;
      background-color: white;
    }
    
    .f04-err {
        color: var(--page-color-scheme);
        font-family: 'Nunito Sans', sans-serif;
        font-size: 11rem;
        position:absolute;
        left: 15%;
        top: 8%;
      }
    
    .far {
      position: absolute;
      font-size: 8.5rem;
      left: 35%;
      top: 15%;
      color:  var(--page-color-scheme);
    }
    
     .f04-err2 {
        color:  var(--page-color-scheme);
        font-family: 'Nunito Sans', sans-serif;
        font-size: 11rem;
        position:absolute;
        left: 68%;
        top: 8%;
      }
    
    .f04-msg {
        text-align: center;
        font-family: 'Nunito Sans', sans-serif;
        font-size: 1.6rem;
        position:absolute;
        left: 12%;
        top: 45%;
        width: 75%;
      }
    
      .f04-msg  a {
      text-decoration: none;
      color: var(--page-color-scheme);
    }
    
    .f04-msg a:hover {
      text-decoration: underline;
    }
  
}