/* ------------------------------footer------------------------------------------------- */
:root {
    --page-color-scheme : #24d824;
  }
footer{
    max-width : 100%;
    background-color: darkgreen;
    /* height: 200px; */
    padding : 5% 5% 2% 5%;
    box-sizing: border-box;
    color : white;
    font-family: 'Lato', sans-serif;
}
.footer-social-icons{
    width : 100%;
    padding : 0px 0 20px 0;
    display: flex;
    align-content: center;
    align-items: center;
    /* justify-content: center; */
}
.footer-social-icons h3{
    flex : 30%;
    max-width: 30%;
}
.footer-social-icons span{
    margin-left : 5px;
    padding : 10px;
    font-size : 120%;
    display: flex;
    align-self: center;
}
.footer-discover-page{
    width : 100%;
    padding : 30px 0 30px 0;
    display: flex;
    align-content: center;
    align-items: center;
}
.footer-discover-page h3{
    flex : 30%;
    max-width: 30%;
}
.footer-discover-page h4{
    margin-left: 20px;
}
.footer-ending-part{
    width : 100%;
    padding : 10px 0 10px 0;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
}
.footer-ending-part h6{
    /* margin-left : 10px; */
}



