/* -------------------------------navbar----------------------------------------------- */
nav { 
    z-index: 10;
}
:root {
    --page-color-scheme : #24d824;
  }
nav.desktop-navbar{
    background-color : transparent;
    position: fixed;
    height : 9vh;
    width : 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    /* display: none; */
    transition: all ,0.4s ease;
}
nav.desktop-navbar span{
    height: 60%;
    margin : 0 3% 0 3%;
    /* font-family: 'Caladea', serif; */
    font-family: 'Abel', sans-serif;
    border : 2px solid transparent;
    transition: 0.25s ease;
}
nav.desktop-navbar span:hover{
    border-bottom : 2px solid var(--page-color-scheme);
}
nav.desktop-navbar span a{
    text-decoration: none;
    color : inherit;
    /* color : white; */
}
#navbar-logo {
    height: 110%;
}
nav.mobile-navbar{
    padding: 5px;
    box-sizing: border-box;
    width: 100vw;
    height : 40px;
    background-color : darkgreen;
    position: fixed;
    top : 0%;
    left : 0%;
    /* z-index: 10; */
    display: none;
}
.burger-container{
    position: absolute;
    top : 10px;
    left : 35px;
    /* display: flex;
    flex-direction: column;
    align-content: center; */
    transition: all , 0.4s ease;
    /* justify-content: center; */

}
.burger-container.close{
    transform: rotate(180deg);
}
.burger-container-lines{
    width : 28px;
    height : 4px;
    margin : 0 0 5px 0;
    background-color: white;
    /* margin-top : 5px; */
}
.burger-container.close div:nth-child(1){
    transform: rotate(45deg) translate(7px , 5px);
    /* background-color: red; */
}
.burger-container.close div:nth-child(2){
    opacity: 0;
    /* display: none; */
}
.burger-container.close div:nth-child(3){
    transform: rotate(-45deg) translate(7px , -5px);
}
/* .burger-container-lines:nth-child(1).close{
    transform: rotate(45deg);
    background-color: red;
} */
.mobile-navbar-logo{
    position : absolute;
    width : 30px ;
    height: 30px;
    left : 45%;
}
.mobile-navbar-logo img{
    max-width: 100%;
    height: 100%;
}
.mobile-navbar-links{
    width : 100vw;
    transition: all,0.5s ease;
    height: 0px;
    background-color: black;
    display: none;
    position: fixed;
    top :40px;
    left : 0px;
    z-index : 9;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}
.mobile-navbar-links div{
    max-width : 100%;
    color : white;
    display: flex;
    font-family: 'Lato', sans-serif;
    justify-content: center;
    margin-top : 20px;
    font-size: 120%;
}

