/* -------------------------------navbar----------------------------------------------- */
html { 
    scroll-behavior: smooth;
}
body{
    padding: 0;
    margin : 0;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
}
:root {
    --page-color-scheme : #76c04d;
    --page-background-color : rgb(250, 249, 249);
    --page-paragraph-color : #8d8d8d;
    --page-heading-color : #373F41;
  }

h1,h2,h3,h4,h5,h6 { 
    margin: 0;
}
nav { 
    z-index: 100;
}
a , a:active {
    text-decoration: none;
    color: inherit;
}
nav.desktop-navbar{
    background-color : transparent;
    position: fixed;
    height : 70px;
    width : 100vw;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: all ,0.4s ease;
    -o-transition: all ,0.4s ease;
    transition: all ,0.4s ease;
    color: black;
    padding: 0 5% 0 7%;
}
.desktop-navbar-logo{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-flex : 30%;
        -ms-flex : 30%;
            flex : 30%;
    max-width: 30%;
    margin-top: 10px;
}
.desktop-navbar-logo img{
    width: 185px;
    max-height: 60px;
}
.desktop-navbar-links{
    -webkit-box-flex : 70%;
        -ms-flex : 70%;
            flex : 70%;
    max-width: 70%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    color: black;
    justify-content: flex-end;
}
.desktop-navbar-links span{
    margin-left: 20px;
    cursor: pointer;
}
.desktop-navbar-links span a,
.desktop-navbar-links span a:active
{
    text-decoration: none;
    font-size: 100%;
} 
.desktop-navbar-links span a:hover{
    color: var(--page-color-scheme);
}
.desktop-navbar-links span button{
    background-color: var(--page-color-scheme);
    padding: 5px 10px;
    color: black;
    outline: none;
    border: none;
}
#navbar-logo {
    height: 80%;
}
nav.mobile-navbar{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100vw;
    height : 60px;
    background-color: transparent;
    position: fixed;
    top : 0%;
    left : 0%;
    display: none;
    padding: 0 7%;
}
.burger-container{
    position: absolute;
    top : 20px;
    right : 35px;
    -webkit-transition: all , 0.4s ease;
    -o-transition: all , 0.4s ease;
    transition: all , 0.4s ease;

}
.burger-container.close{
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
}
.burger-container-lines{
    width : 28px;
    height : 4px;
    margin : 0 0 5px 0;
    background-color: black;
}
.burger-container.close div:nth-child(1){
    -webkit-transform: rotate(45deg) translate(7px , 5px);
        -ms-transform: rotate(45deg) translate(7px , 5px);
            transform: rotate(45deg) translate(7px , 5px);
}
.burger-container.close div:nth-child(2){
    -webkit-transform: rotate(-45deg) translate(3px , 2px);
        -ms-transform: rotate(-45deg) translate(3px , 2px);
            transform: rotate(-45deg) translate(3px , 2px);
}
.mobile-navbar-logo{
    position : absolute;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
    left : 90px;
    top : 50%;
    width : 120px ;
    height: 50px;
}
.mobile-navbar-logo img{
    max-width: 100%;
    height: 100%;
}
.mobile-navbar-links{
    /* background-color: rgb(57, 57, 57 , 0.97);  */
    background-color: white;
    width: 100vw;
    height: 0px;
    display: none;
    font-family: 'Barlow', sans-serif;
    position: fixed;
    z-index : 100;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    top :60px;
    left : 0px;
    -webkit-transition: all,0.3s ease;
    -o-transition: all,0.3s ease;
    transition: all,0.3s ease;
    overflow: hidden;
    text-align: center;
    
}
.mobile-navbar-links div{
    max-width : 100%;
    color : black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /* padding: 5px 10% ; */
}   
.mobile-navbar-links a{
    max-width : 100%;
    text-decoration: none;
    color: black;
    font-size: 60%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 16px 10%;
    /* justify-content: center; */
} 

@media only screen and (max-width: 768px){
    nav.desktop-navbar{
        display: none;
    }
    nav.mobile-navbar{
        display: block;
    }
    .mobile-navbar-links{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    
}