/* -------------------------------navbar----------------------------------------------- */
body{
    padding: 0;
    margin : 0;
    overflow-x: hidden;
    font-family: 'Barlow', sans-serif;
}
:root {
    --page-color-scheme : #24d824;
  }

h1,h2,h3,h4,h5,h6 { 
    margin: 0;
}   
nav { 
    z-index: 10;
}
nav.desktop-navbar{
    background-color : transparent;
    position: fixed;
    height : 9vh;
    width : 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    transition: all ,0.4s ease;
}
nav.desktop-navbar span{
    height: 60%;
    margin : 0 3% 0 3%;
    border : 2px solid transparent;
}
nav.desktop-navbar span a{
    text-decoration: none;
    color : inherit;
    font-weight: 700;
    font-size: 90%;
    text-transform: uppercase;
}
#navbar-logo {
    height: 110%;
}
nav.mobile-navbar{
    /* padding: 5px; */
    box-sizing: border-box;
    width: 100vw;
    height : 40px;
    background-color : darkgreen;
    position: fixed;
    top : 0%;
    left : 0%;
    display: none;
}
.burger-container{
    position: absolute;
    top : 10px;
    left : 35px;
    transition: all , 0.4s ease;

}
.burger-container.close{
    transform: rotate(180deg);
}
.burger-container-lines{
    width : 28px;
    height : 4px;
    margin : 0 0 5px 0;
    background-color: white;
}
.burger-container.close div:nth-child(1){
    transform: rotate(45deg) translate(7px , 5px);
}
.burger-container.close div:nth-child(2){
    opacity: 0;
}
.burger-container.close div:nth-child(3){
    transform: rotate(-45deg) translate(7px , -5px);
}
.mobile-navbar-logo{
    position : absolute;
    transform: translate(-50%,-50%);
    left : 50%;
    top : 50%;
    width : 80px ;
    height: 30px;
}
.mobile-navbar-logo img{
    max-width: 100%;
    height: 100%;
}
.mobile-navbar-links{
    width : 100vw;
    transition: all,0.5s ease;
    height: 0px;
    background-color: black;
    display: none;
    position: fixed;
    top :40px;
    font-family: 'Barlow', sans-serif;;
    left : 0px;
    z-index : 9;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    /* padding-bottom: 30px; */
}
.mobile-navbar-links div{
    max-width : 100%;
    color : white;
    display: flex;
    justify-content: center;
    margin-top : 20px;
    font-size: 120%;
}
.mobile-navbar-links div a{
    text-decoration: none;
    color: white;
} 

@media only screen and (max-width: 768px){
    nav.desktop-navbar{
        display: none;
    }
    nav.mobile-navbar{
        display: block;
    }
    .mobile-navbar-links{
        display: flex;
    }
    
}