
body{
    padding: 0;
    margin : 0;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
    background: url('../images/bg_partner-01.png');
    background-size: cover ;
}
:root {
    --page-color-scheme : #2cae66;
    --page-background-color : rgb(250, 249, 249);
    --page-paragraph-color : #8d8d8d;
    --page-heading-color : #373F41;
  }

h1,h2,h3,h4,h5,h6,p { 
    margin: 0;
    padding: 0;
}
#navbar-partnerus{
    color: var(--page-color-scheme);
}
/* ------------------------landing section--------------------- */
section.partner-us-main-section{
    background: url('../images/main-1-04.png');
    max-width: 100vw;
    height : 700px;
    padding-top: 60px;
    overflow: hidden;
}
.partner-us-main-section-container{
    height: 100%;
    max-width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /* margin-top: px; */
}
.partner-us-main-section-content{
    -webkit-box-flex: 45%;
        -ms-flex: 45%;
            flex: 45%;
    max-width: 45%;
    padding: 14% 4%;
}
.partner-us-main-section-content-heading{
    max-width: 100%;
    text-align: center;
}
.partner-us-main-section-content-heading h2{
    font-weight: 700;
    font-size: 220%;
}
.partner-us-main-section-content-heading span{
    color: var(--page-color-scheme);
}
.partner-us-main-section-content-heading p{
    text-align: left;
    color: #242424;
    /* background-color: rgba(255, 255, 255, 0.5); */
    padding-left: 5%;
    margin-top: 30px;
    font-size: 130%;
}
.partner-us-main-section-image{
    -webkit-box-flex: 55%;
        -ms-flex: 55%;
            flex: 55%;
    max-width: 55%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 500px;
    padding-top: 80px;
}
.partner-us-main-section-image img{
    max-width: 100%;
    max-height: 100%;
}

@media only screen and (max-width: 520px){
    section.partner-us-main-section{
        /* height: 90vh; */
        height: auto;
        max-width: 100vw;
        overflow-x: hidden;
    }
    .partner-us-main-section-image{
        padding-top: 0;
    }
    .partner-us-main-section-content{
        padding-bottom: 10%;
    }
}
@media only screen and (max-width: 768px){
    section.main-section{
        height: 90vh;
        max-width: 100vw;
        overflow-x: hidden;
    }
    .partner-us-main-section-container{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        margin-top:0px;
    }
    .partner-us-main-section-content{
        -webkit-box-flex: 100%;
            -ms-flex: 100%;
                flex: 100%;
        max-width: 100%;
    }
    .partner-us-main-section-content-heading h2{
        font-size: 160%;
    }
    .partner-us-main-section-image{
        -webkit-box-flex: 100%;
            -ms-flex: 100%;
                flex: 100%;
        max-width: 100%;
    }
    .partner-us-main-section-content-heading p{
        font-size: 110%;
    }
    .partner-us-main-section-image img{
        max-width: 100%;
    }
}
/* --------------------- charge-partner-us ---------------------- */

.section-first-partner-us{
    max-width: 100vw;
    padding: 0px 7% 0px 7%;
    font-family: 'Barlow', sans-serif;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    /* background-color: var(--page-background-color); */
}
.section-first-partner-us-heading{
    width: 100%;
    display: none;
    text-align: center;
    margin : 30px 0 10px 0;
}
.section-first-partner-us-heading h2{
    font-size: 170%;
    font-weight: 600;
    color: var(--page-heading-color);
}
.section-first-partner-us-heading h3{
    font-size: 130%;
    color : var(--page-color-scheme);
}
.section-first-partner-us-container{
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 50px;
}
.section-first-partner-us-container-content-part{
    -webkit-box-flex : 50%;
        -ms-flex : 50%;
            flex : 50%;
    max-width: 50%;
    padding: 0 2%;
    margin-top: 70px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.section-first-partner-us-container-content-part-heading{
    width: 100%;
}
.section-first-partner-us-container-content-part-heading h3{
    color: var(--page-color-scheme);
    font-weight: 500;
    font-size: 150%;
}
.section-first-partner-us-container-content-part-heading h2{
    color : var(--page-heading-color);
    font-weight: 600;
    margin-top : 10px;
}
.section-first-partner-us-container-content-part-content{
    color : var(--page-paragraph-color);
    margin-top: 20px;
    font-size : 140%;
    /* text-align: justify; */
}
.section-first-partner-us-container-content-part-button{
    width: 100%;
    margin-top: 60px;
}
.section-first-partner-us-container-content-part-button button{
    padding : 10px 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    cursor: pointer;
    background-color: var(--page-color-scheme);
    color : white;
    outline: none;
    border: none;
}
.section-first-partner-us-container-img-part{
    -webkit-box-flex : 50%;
        -ms-flex : 50%;
            flex : 50%;
    max-width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.section-first-partner-us-container-img-part img{
    width: 80%;
    height: auto;
}

@media only screen and (max-width: 768px){
    .section-first-partner-us{
        padding: 20px 7% 20px 7%;
    }
    .section-first-partner-us-heading{
        display: block;
    }
    .section-first-partner-us-container-content-part-heading{
        display: none;
    }
    .section-first-partner-us-container{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        /* padding-left: 10%; */
    }
    .section-first-partner-us-container-content-part{
        -webkit-box-flex : 100%;
            -ms-flex : 100%;
                flex : 100%;
        max-width: 100%;
        margin-top: 0;
    }
    .section-first-partner-us-container-img-part{
        -webkit-box-flex : 100%;
            -ms-flex : 100%;
                flex : 100%;
        max-width: 100%;
    }
    .section-first-partner-us-container-img-part img{
        width: 90%;
        /* height: 200px; */
    }
}
@media only screen and (max-width: 520px){
    .section-first-partner-us-container-img-part img{
        width: 70%;
        /* height: 200px; */
    }
}

/* ---------------------fleet partner us---------------------- */

.section-second-partner-us{
    max-width: 100vw;
    padding: 20px 7% 40px 7%;
    font-family: 'Barlow', sans-serif;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-color: rgb(247, 148, 29 , 0.15);
}
.section-second-partner-us-heading{
    width: 100%;
    display: none;
    text-align: center;
    margin : 10px 0 10px 0;
}
.section-second-partner-us-heading h2{
    font-size: 170%;
    font-weight: 600;
    color: var(--page-heading-color);
}
.section-second-partner-us-heading h3{
    font-size: 130%;
    color : var(--page-color-scheme);
}
.section-second-partner-us-container{
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 50px;
    /* padding-left: 10%; */
}
.section-second-partner-us-container-content-part{
    -webkit-box-flex : 50%;
        -ms-flex : 50%;
            flex : 50%;
    max-width: 50%;
    margin-top: 70px;
    padding: 0 2%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.section-second-partner-us-container-content-part-heading{
    width: 100%;
}
.section-second-partner-us-container-content-part-heading h3{
    color: var(--page-color-scheme);
    font-weight: 500;
    font-size: 150%;
}
.section-second-partner-us-container-content-part-heading h2{
    color : var(--page-heading-color);
    font-weight: 600;
    margin-top : 10px;
}
.section-second-partner-us-container-content-part-content{
    color : var(--page-paragraph-color);
    margin-top: 20px;
    font-size : 140%;
    /* text-align: justify; */
}
.section-second-partner-us-container-content-part-button{
    width: 100%;
    margin-top: 60px;
}
.section-second-partner-us-container-content-part-button button{
    padding : 10px 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    cursor: pointer;
    background-color: var(--page-color-scheme);
    color : white;
    outline: none;
    border: none;
}
.section-second-partner-us-container-img-part{
    -webkit-box-flex : 50%;
        -ms-flex : 50%;
            flex : 50%;
    max-width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.section-second-partner-us-container-img-part img{
    width: 80%;
    height: 350px;
}

@media only screen and (max-width: 768px){
    .section-second-partner-us{
        padding: 20px 7% 20px 7%;
    }
    .section-second-partner-us-heading{
        display: block;
    }
    .section-second-partner-us-container-content-part-heading{
        display: none;
    }
    .section-second-partner-us-container{
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
            -ms-flex-direction: column-reverse;
                flex-direction: column-reverse;
    }
    .section-second-partner-us-container-content-part{
        -webkit-box-flex : 100%;
            -ms-flex : 100%;
                flex : 100%;
        max-width: 100%;
        margin-top: 0;
    }
    .section-second-partner-us-container-img-part{
        -webkit-box-flex : 100%;
            -ms-flex : 100%;
                flex : 100%;
        max-width: 100%;
    }
    .section-second-partner-us-container-img-part img{
        width: 90%;
        /* height: 200px; */
    }
}
@media only screen and (max-width: 520px){
    .section-second-partner-us-container-img-part img{
        width: 70%;
        /* height: 200px; */
        height: auto;
    }
}

/* --------------------- charge-partner-us ---------------------- */

.section-third-partner-us{
    max-width: 100vw;
    padding: 20px 7% 20px 7%;
    font-family: 'Barlow', sans-serif;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    /* background-color: var(--page-background-color); */
}
.section-third-partner-us-heading{
    width: 100%;
    display: none;
    text-align: center;
    margin : 10px 0 10px 0;
}
.section-third-partner-us-heading h2{
    font-size: 170%;
    /* font-size : 20%; */
    font-weight: 600;
    color: var(--page-heading-color);
}
.section-third-partner-us-heading h3{
    font-size: 130%;
    color : var(--page-color-scheme);
}
.section-third-partner-us-container{
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 50px;
    
    /* padding-left: 10%; */
}
.section-third-partner-us-container-content-part{
    -webkit-box-flex : 50%;
        -ms-flex : 50%;
            flex : 50%;
    max-width: 50%;
    padding: 0 2%;
    margin-top: 70px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.section-third-partner-us-container-content-part-heading{
    width: 100%;
}
.section-third-partner-us-container-content-part-heading h3{
    color: var(--page-color-scheme);
    font-weight: 500;
    font-size: 150%;
}
.section-third-partner-us-container-content-part-heading h2{
    color : var(--page-heading-color);
    font-weight: 600;
    margin-top : 10px;
}
.section-third-partner-us-container-content-part-content{
    color : var(--page-paragraph-color);
    margin-top: 20px;
    font-size : 140%;
    /* text-align: justify; */
}
.section-third-partner-us-container-content-part-content p{
    margin: 0 auto;
}
.section-third-partner-us-container-content-part-button{
    width: 100%;
    margin-top: 60px;
}
.section-third-partner-us-container-content-part-button button{
    padding : 10px 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    cursor: pointer;
    background-color: var(--page-color-scheme);
    color : white;
    outline: none;
    border: none;
}
.section-third-partner-us-container-img-part{
    -webkit-box-flex : 50%;
        -ms-flex : 50%;
            flex : 50%;
    max-width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.section-third-partner-us-container-img-part img{
    width: 80%;
    height: 350px;
}

@media only screen and (max-width: 768px){
    .section-third-partner-us{
        padding: 20px 7% 20px 7%;
    }
    .section-third-partner-us-heading{
        display: block;
    }
    .section-third-partner-us-container-content-part-heading{
        display: none;
    }
    .section-third-partner-us-container{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .section-third-partner-us-container-content-part{
        -webkit-box-flex : 100%;
            -ms-flex : 100%;
                flex : 100%;
        max-width: 100%;
        margin-top: 0;
    }
    .section-third-partner-us-container-img-part{
        -webkit-box-flex : 100%;
            -ms-flex : 100%;
                flex : 100%;
        max-width: 100%;
    }
    .section-third-partner-us-container-img-part img{
        width: 90%;
        /* height: 200px; */
    }
}
@media only screen and (max-width: 520px){
    .section-third-partner-us-container-img-part img{
        width: 70%;
        height: auto;
    }
}

/* ---------------------pop up form--------------------- */
.partner-us-form-heading{
    text-align: center;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: var(--page-heading-color);
    padding: 0 7%;
    margin-top: 50px;
}
.partner-us-form-heading h3{
    font-weight: 700;
}
.partner-us-form-button{
    padding: 40px 7%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 50px;
}
.partner-us-form-button button{
    padding: 10px 30px;
    background-color: var(--page-color-scheme);
    color: white;
    border: none;
    outline: none;
}
.partner-us-pop-up-form{
    -webkit-transition: 0.4s ease;
    -o-transition: 0.4s ease;
    transition: 0.4s ease;
    position: fixed;
    -webkit-transform: translate(-50% , -50%);
        -ms-transform: translate(-50% , -50%);
            transform: translate(-50% , -50%);
    top:  -50%;
    left: 50%;
    width: 40vw;
    background-color: white;
    padding: 20px 2% 30px 2%;
    z-index: 102;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.partner-us-form{
    width: 95%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20px 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.partner-us-form input{
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    border: 1px solid #C2C7D0;
}

.partner-us-form input[type=submit]{
    background-color: var(--page-color-scheme);
    color: white;
}
.partner-us-form select{
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    border: 1px solid #C2C7D0;
    background-color: white;
}
.partner-us-form textarea{
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    border: 1px solid #C2C7D0;
}


.partner-us-blur-page{
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0 , 0.8);
    z-index: 101;
    display: none;
}
.partner-us-blur-page-cross-mark{
    position: absolute;
    top : 10px;
    right : 10px;   
}
.partner-us-blur-page-cross-mark i{
    font-size: 40px;
    color: var(--page-color-scheme);
}
.partner-us-form-message-after-submission{
    max-width: 100%;
    position: relative;
    top:30%;
    display: none;
    font-size : 150%;
    color: black;
    text-align: center;
}
.partner-us-form-message-after-submission i{
    color : black;
    margin-right : 5px;
}

@media only screen and (max-width: 768px){
    .partner-us-form-heading h3{
        font-weight: 700;
        margin-top: 30px;
        font-size: 120%;
    }
    .partner-us-form-button{
        margin-bottom: 30px;
    }
    .partner-us-pop-up-form{
        height: 85vh;
        overflow: auto;
        width: 80vw;
    }
    .partner-us-pop-up-form h4{
        font-size: 130%;
    }
    .partner-us-blur-page-cross-mark{
        top : 5px; 
    }
}