body{
    padding: 0;
    margin : 0;
    overflow-x: hidden;
    font-family: 'Barlow', sans-serif;
}
:root {
    --page-color-scheme : #24d824;
    --page-background-color : rgb(250, 249, 249);
    --page-paragraph-color : #373F41;
    --page-heading-color : #373F41;
  }

h1,h2,h3,h4,h5,h6 { 
    margin: 0;
}
/* -----------------------------fixed-social-icons----------------------------------------------- */
/* .fixed-social-icons{
    position: fixed;
    top : 30%;
    display: flex;
    flex-direction: column;
    width : 3.5vw;
    background-color: transparent;
    align-content: center;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-radius : 10%;
}
.fixed-social-icons span{
    box-sizing: border-box;
    text-align: center;
    font-size : 180%;
    width : 100%;
    margin-top : 2px;
    color : white;
    padding : 5px;
} */

/* -------------------------------landing section----------------------------------------------- */
section.main-section{
    max-width: 100vw;
    height : 100vh;
    background: url("../images/home-page-landing-image.jpg");
    background-position: center;
    background-size: cover;
    background-attachment:fixed ;
    color : white;
    padding-top: 10vh;
}
.main-section-writing{
    display: flex;
    justify-content: center;
    width: 100%;
}
.main-section-main-heading{
    font-size : 300%;
    margin-top : 50px;
    font-weight: 900;
    text-align: center;
}
.main-section-main-tagline{
    font-size: 150%;
    margin-top : 10px;
    font-weight : 600;
    text-align: center;
}
.main-section-main-link{
    font-size: 120%;
    margin-top : 20px;
}
.main-section-main-link a{
    text-decoration: none;
    color : blueviolet;
}
@media only screen and (max-width: 520px){
    section.main-section{
        height: 80vh;
    }
    .main-section-main-heading{
        font-size: 170%;
    }
    .main-section-main-tagline{
        font-size: 120%;
    }
}

/* -------------------------------Our Services----------------------------------------------- */
.our-services{
    max-width : 100%;
    padding : 40px 7% 20px 7%;
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif;
}
.our-services-heading{
    width: 100%;
    /* text-align: center; */
    margin : 30px 0 40px 0;
}
.our-services-heading h1{
    font-size : 250%;
    font-weight: 600;
    color: var(--page-heading-color);
}
.our-services-heading h3{
    font-size: 150%;
    color : var(--page-color-scheme);
}
.our-services-container{
    margin-top: 30px;
    max-width: 100%;
    display: flex;
    justify-content: space-around;
}
.our-services-container-element{
    flex : 30%;
    max-width: 30%;
}
.our-services-container-element-img{
    max-width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
}
.our-services-container-element-img img{
    width: 60%;
    height: 80px;
}
.our-services-container-element-heading{
    text-align: center;
    margin-top: 30px;
}
.our-services-container-element-heading h4{
    font-weight: 550;
}
.our-services-container-element-content{
    text-align: justify;
    margin-top: 20px;
    color: var(--page-paragraph-color);
    font-size: 110%;
}

@media only screen and (max-width: 768px){
    .our-services-heading{
        text-align: center;
    }
    .our-services-heading h3{
        font-size: 130%;
    }
    .our-services-heading h1{
        font-size: 200%;
    }
    .our-services-container{
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .our-services-container-element{
        flex : 80%;
        max-width: 80%;
        min-width: 80%;
    }
    .our-services-container-element-img img{
        height: 100px;
    }
    .our-services-container-element-heading h4{
        font-size: 130%;
    }
}
@media only screen and (max-width: 520px){
    .our-services-container-element-img img{
        height: 90px;
    }
}
/* -----------------------logistics-and-passenger--------------------------- */
.logistics-and-passenger{
    max-width: 100vw;
    padding: 40px 7% 60px 7%;
    font-family: 'Barlow', sans-serif;
    box-sizing: border-box;
    background-color: var(--page-background-color);
}
.logistics-and-passenger-heading{
    width: 100%;
    text-align: center;
    margin : 30px 0 40px 0;
}
.logistics-and-passenger-heading h1{
    font-size: 250%;
    font-weight: 600;
    color: var(--page-heading-color);
}
.logistics-and-passenger-heading h3{
    font-size: 150%;
    color : var(--page-color-scheme);
}
.logistics-and-passenger-container{
    max-width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}
.logistics-and-passenger-container-element{
    max-width: 45%;
    flex: 45%;
    perspective: 150px;
    border-radius: 5%;
    overflow: hidden;
    /* transform: scale(0.9); */
    transition: 0.5s ease;
    box-shadow: 10px 10px 15px #aaaaaa ,-10px -10px 15px #aaaaaa ;
}
.logistics-and-passenger-container-element:hover{
    transform: scale(0.9);
    transition: 0.5s ease;
}
.logistics-and-passenger-container-element:hover .logistics-and-passenger-container-element-content-line{
    width : 80%;
}
.logistics-and-passenger-container-element-img{
    overflow: hidden;
    max-width: 100%;
    height: 280px;
}
.logistics-and-passenger-container-element-img img{
    width: 100%;
    transition: 0.5s ease;
}
.logistics-and-passenger-container-element-content{
    margin: 20px 0 50px 0;
    box-sizing: border-box;
    padding : 0 5%;
    /* padding-bottom: 50px; */
}
.logistics-and-passenger-container-element-content-line{
    background-color: var(--page-color-scheme);
    height: 7px;
    width : 25%;
    margin-bottom: 10px;
    transition: 0.5s ease;
}
.logistics-and-passenger-container-element-content-heading{
    max-width: 100%;
}
.logistics-and-passenger-container-element-content-heading h3{
    font-weight: 600;
    transition: 0.5s ease;
}
.logistics-and-passenger-container-element-content-heading h6{
    color: var(--page-color-scheme);
    transition: 0.5s ease;
}
.logistics-and-passenger-container-element-content-paragraph{
    max-width: 100%;
}
.logistics-and-passenger-container-element-content-paragraph p{
    font-weight: 400;
    margin-top: 25px;
    text-align: justify;
}
@media only screen and (max-width: 768px){
    .logistics-and-passenger-container{
        flex-direction: column;
        align-items: center;
    }
    .logistics-and-passenger-container-element{
        max-width: 90%;
        margin-top: 30px;
        padding-bottom: 40px;
    }
    .logistics-and-passenger-container-element-img{
        height: 150px;
    }
}

/* ---------------------fleet partner us---------------------- */

.fleet-partner-us{
    max-width: 100vw;
    padding: 70px 7% 70px 7%;
    font-family: 'Barlow', sans-serif;
    box-sizing: border-box;
}
.fleet-partner-us-heading{
    width: 100%;
    display: none;
    text-align: center;
    margin : 30px 0 40px 0;
}
.fleet-partner-us-heading h1{
    font-size: 200%;
    /* font-size : 20%; */
    /* margin-top: 15px; */
    font-weight: 600;
    color: var(--page-heading-color);
}
.fleet-partner-us-heading h3{
    font-size: 130%;
    color : var(--page-color-scheme);
}
.fleet-partner-us-container{
    max-width: 100%;
    display: flex;
    justify-content: center;
}
.fleet-partner-us-container-content-part{
    flex : 50%;
    max-width: 50%;
    padding: 0 2%;
    box-sizing: border-box;
}
.fleet-partner-us-container-content-part-heading{
    width: 100%;
}
.fleet-partner-us-container-content-part-heading h3{
    color: var(--page-color-scheme);
    font-weight: 500;
    font-size: 150%;
}
.fleet-partner-us-container-content-part-heading h2{
    color : var(--page-heading-color);
    font-weight: 600;
    margin-top : 10px;
}
.fleet-partner-us-container-content-part-content{
    color : var(--page-paragraph-color);
    margin-top: 50px;
    font-size : 110%;
    text-align: justify;
}
.fleet-partner-us-container-content-part-button{
    width: 100%;
    margin-top: 60px;
}
.fleet-partner-us-container-content-part-button button{
    padding : 10px 20px;
    box-sizing: border-box;
    cursor: pointer;
    background-color: var(--page-color-scheme);
    color : white;
    outline: none;
    border: none;
}
.fleet-partner-us-container-img-part{
    flex : 50%;
    max-width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fleet-partner-us-container-img-part img{
    width: 80%;
    height: 350px;
}

@media only screen and (max-width: 768px){
    .fleet-partner-us{
        padding: 50px 7% 50px 7%;
    }
    .fleet-partner-us-heading{
        display: block;
        padding-bottom: 30px;
    }
    .fleet-partner-us-container-content-part-heading{
        display: none;
    }
    .fleet-partner-us-container{
        flex-direction: column-reverse;
    }
    .fleet-partner-us-container-content-part{
        flex : 90%;
        max-width: 90%;
    }
    .fleet-partner-us-container-img-part{
        flex : 100%;
        max-width: 100%;
    }
    .fleet-partner-us-container-img-part img{
        width: 90%;
        /* height: 200px; */
    }
}
@media only screen and (max-width: 520px){
    .fleet-partner-us-container-img-part img{
        width: 90%;
        height: 200px;
    }
}

/* --------------------- charge-partner-us ---------------------- */

.charge-partner-us{
    max-width: 100vw;
    padding: 70px 7% 70px 7%;
    font-family: 'Barlow', sans-serif;
    box-sizing: border-box;
    background-color: var(--page-background-color);
}
.charge-partner-us-heading{
    width: 100%;
    display: none;
    text-align: center;
    margin : 30px 0 40px 0;
}
.charge-partner-us-heading h1{
    font-size: 200%;
    /* font-size : 20%; */
    font-weight: 600;
    color: var(--page-heading-color);
}
.charge-partner-us-heading h3{
    font-size: 130%;
    color : var(--page-color-scheme);
}
.charge-partner-us-container{
    max-width: 100%;
    display: flex;
    justify-content: center;
}
.charge-partner-us-container-content-part{
    flex : 50%;
    max-width: 50%;
    padding: 0 2%;
    box-sizing: border-box;
}
.charge-partner-us-container-content-part-heading{
    width: 100%;
}
.charge-partner-us-container-content-part-heading h3{
    color: var(--page-color-scheme);
    font-weight: 500;
    font-size: 150%;
}
.charge-partner-us-container-content-part-heading h2{
    color : var(--page-heading-color);
    font-weight: 600;
    margin-top : 10px;
}
.charge-partner-us-container-content-part-content{
    color : var(--page-paragraph-color);
    margin-top: 50px;
    font-size : 110%;
    text-align: justify;
}
.charge-partner-us-container-content-part-button{
    width: 100%;
    margin-top: 60px;
}
.charge-partner-us-container-content-part-button button{
    padding : 10px 20px;
    box-sizing: border-box;
    cursor: pointer;
    background-color: var(--page-color-scheme);
    color : white;
    outline: none;
    border: none;
}
.charge-partner-us-container-img-part{
    flex : 50%;
    max-width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.charge-partner-us-container-img-part img{
    width: 80%;
    height: 350px;
}

@media only screen and (max-width: 768px){
    .charge-partner-us{
        padding: 50px 7% 50px 7%;
    }
    .charge-partner-us-heading{
        display: block;
        padding-bottom: 30px;
    }
    .charge-partner-us-container-content-part-heading{
        display: none;
    }
    .charge-partner-us-container{
        flex-direction: column;
    }
    .charge-partner-us-container-content-part{
        flex : 90%;
        max-width: 90%;
    }
    .charge-partner-us-container-img-part{
        flex : 100%;
        max-width: 100%;
    }
    .charge-partner-us-container-img-part img{
        width: 90%;
        /* height: 200px; */
    }
}
@media only screen and (max-width: 520px){
    .charge-partner-us-container-img-part img{
        width: 90%;
        height: 200px;
    }
}

/* ---------------------drive-with-us---------------------- */

.drive-with-us{
    max-width: 100vw;
    padding: 70px 7% 70px 7%;
    font-family: 'Barlow', sans-serif;
    box-sizing: border-box;
}
.drive-with-us-heading{
    width: 100%;
    display: none;
    text-align: center;
    margin : 30px 0 40px 0;
}
.drive-with-us-heading h1{
    font-size: 200%;
    /* font-size : 20%; */
    font-weight: 600;
    color: var(--page-heading-color);
}
.drive-with-us-heading h3{
    font-size: 130%;
    color : var(--page-color-scheme);
}
.drive-with-us-container{
    max-width: 100%;
    display: flex;
    justify-content: center;
}
.drive-with-us-container-content-part{
    flex : 50%;
    max-width: 50%;
    padding: 0 2%;
    box-sizing: border-box;
}
.drive-with-us-container-content-part-heading{
    width: 100%;
}
.drive-with-us-container-content-part-heading h3{
    color: var(--page-color-scheme);
    font-weight: 500;
    font-size: 150%;
}
.drive-with-us-container-content-part-heading h2{
    color : var(--page-heading-color);
    font-weight: 600;
    margin-top: 10px;
}
.drive-with-us-container-content-part-content{
    color : var(--page-paragraph-color);
    margin-top: 50px;
    font-size : 110%;
    text-align: justify;
}
.drive-with-us-container-content-part-button{
    width: 100%;
    margin-top: 60px;
}
.drive-with-us-container-content-part-button button{
    padding : 10px 20px;
    box-sizing: border-box;
    cursor: pointer;
    background-color: var(--page-color-scheme);
    color : white;
    outline: none;
    border: none;
}
.drive-with-us-container-img-part{
    flex : 50%;
    max-width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.drive-with-us-container-img-part img{
    width: 80%;
    height: 350px;
}

@media only screen and (max-width: 768px){
    .drive-with-us{
        padding: 50px 7% 50px 7%;
    }
    .drive-with-us-heading{
        display: block;
        padding-bottom: 30px;
    }
    .drive-with-us-container-content-part-heading{
        display: none;
    }
    .drive-with-us-container{
        flex-direction: column-reverse;
    }
    .drive-with-us-container-content-part{
        flex : 90%;
        max-width: 90%;
    }
    .drive-with-us-container-img-part{
        flex : 100%;
        max-width: 100%;
    }
    .drive-with-us-container-img-part img{
        width: 90%;
        /* height: 200px; */
    }
}
@media only screen and (max-width: 520px){
    .drive-with-us-container-img-part img{
        width: 90%;
        height: 200px;
    }
}

/* -------------------------------Media Query----------------------------------------------- */

