body{
    padding: 0;
    margin : 0;
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
}
:root {
    --page-color-scheme : #2cae66;
    --page-background-color : rgb(250, 249, 249);
    --page-paragraph-color : #8d8d8d;
    --page-heading-color : #373F41;
  }

h1,h2,h3,h4,h5,h6 { 
    margin: 0;
}
/* -----------------------------fixed-social-icons----------------------------------------------- */
/* .fixed-social-icons{
    position: fixed;
    top : 30%;
    display: flex;
    flex-direction: column;
    width : 3.5vw;
    background-color: transparent;
    align-content: center;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-radius : 10%;
}
.fixed-social-icons span{
    box-sizing: border-box;
    text-align: center;
    font-size : 180%;
    width : 100%;
    margin-top : 2px;
    color : white;
    padding : 5px;
} */

/* -------------------------------landing section----------------------------------------------- */
section.main-section{
    max-width: 100vw;
    height : 100vh;
    background: url("../images/Home-bg-01.png");
    background-position: center;
    background-size: cover;
    background-attachment:fixed ;
    padding-top: 10vh;
}
.main-page-main-section-container{
    height: 100%;
    max-width: 100vw;
    display: flex;
    max-width: 100vw;
}
.main-page-main-section-content{
    flex: 40%;
    max-width: 40%;
    padding: 13% 5%;
}
.main-page-main-section-content-heading{
    max-width: 100%;
    text-align: center;
}
.main-page-main-section-content-heading h2{
    font-weight: 700;
    font-size: 220%;
}
.main-page-main-section-content-heading span{
    color: var(--page-color-scheme);
}
.main-page-main-section-content-illustration{
    height: 100px;
    background: url('../images/carbon_home-01.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.main-page-main-section-content-illustration::after{
    content: "";
    position: absolute;
    top : 52%;
    left: 10%;
    height: 5px;
    width: 80%;
    background-color: var(--page-color-scheme);
}
.main-page-main-section-content-illustration h2{
    font-weight: 800;
    font-size: 240%;
}


.main-page-main-section-image{
    flex: 60%;
    max-width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-page-main-section-image img{
    max-width: 120%;
}


@media only screen and (max-width: 520px){
    section.main-section{
        height: 90vh;
        max-width: 100vw;
        overflow-x: hidden;
    }
}
@media only screen and (max-width: 768px){
    .main-page-main-section-container{
        flex-direction: column;
    }
    .main-page-main-section-content{
        flex: 100%;
        max-width: 100%;
    }
    .main-page-main-section-content-heading h2{
        font-size: 180%;
    }
    .main-page-main-section-image{
        flex: 100%;
        max-width: 100%;
    }
    .main-page-main-section-content-illustration{
        height: 60px;
    }
    .main-page-main-section-content-illustration h2{
        font-weight: 800;
        font-size: 180%;
    }
    .main-page-main-section-image img{
        max-width: 100%;
    }
}
/* ----------------------------------mission---------------------------------------- */
.home-page-mission{
    background-color: var(--page-background-color);
    padding : 50px 7%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.home-page-mission-dots{
    width : 100%;
    display: flex;
    justify-content: center;
}
.home-page-mission-dots-container{
    width: 10%;
    height : 10px;
    display: flex;
    justify-content: space-around;
}
.home-page-mission-dots-container-dots{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: var(--page-heading-color);
}
.home-page-mission-paragraph{
    margin-top: 30px;
    width: 100%;
    text-align: center;
}
.home-page-mission-paragraph p{
    font-size: 150%;
    font-weight: 600;
}
.home-page-mission-line{
    margin-top: 30px;
    width: 15%;
    background-color: var(--page-heading-color);
    height: 7px;
}
/* -------------------------------Our Services----------------------------------------------- */
.our-services{
    max-width : 100%;
    padding : 40px 7% 20px 7%;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
.our-services-heading{
    width: 100%;
    /* text-align: center; */
    margin : 30px 0 40px 0;
}
.our-services-heading h1{
    font-size : 250%;
    font-weight: 600;
    color: var(--page-heading-color);
}
.our-services-heading h3{
    font-size: 150%;
    color : var(--page-color-scheme);
}
.our-services-container{
    margin-top: 30px;
    max-width: 100%;
    display: flex;
    justify-content: space-around;
}
.our-services-container-element{
    flex : 30%;
    max-width: 30%;
}
.our-services-container-element-img{
    max-width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
}
.our-services-container-element-img img{
    width: 60%;
    height: 80px;
}
.our-services-container-element-heading{
    text-align: center;
    margin-top: 30px;
}
.our-services-container-element-heading h4{
    font-weight: 550;
}
.our-services-container-element-content{
    text-align: justify;
    margin-top: 20px;
    color: var(--page-paragraph-color);
    font-size: 100%;
}

@media only screen and (max-width: 768px){
    .our-services-heading{
        text-align: center;
    }
    .our-services-heading h3{
        font-size: 130%;
    }
    .our-services-heading h1{
        font-size: 200%;
    }
    .our-services-container{
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .our-services-container-element{
        flex : 80%;
        max-width: 80%;
        min-width: 80%;
    }
    .our-services-container-element-img img{
        height: 100px;
    }
    .our-services-container-element-heading h4{
        font-size: 130%;
    }
}
@media only screen and (max-width: 520px){
    .our-services-container-element-img img{
        height: 90px;
    }
}
/* -----------------------main-page-logistics--------------------------- */
.main-page-logistics{
    max-width: 100vw;
    padding: 40px 7% 60px 7%;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
    background-color: var(--page-background-color);
}
.main-page-logistics-heading{
    width: 100%;
    text-align: center;
    margin : 30px 0 40px 0;
}
.main-page-logistics-heading h1{
    font-size: 250%;
    font-weight: 600;
    color: var(--page-heading-color);
}
.main-page-logistics-heading h3{
    font-size: 150%;
    color : var(--page-color-scheme);
}
.main-page-logistics-container{
    width: 100%;
    /* background: url('../images/transport-isometric-flowchart-with-various-vehicles-blue-background-3d_1284-32252.jpg'); */
    height: 55vh;
    position: relative;
}
.main-page-logistics-inside-container{
    width: 100%;
    height: 250px;
    z-index: 2;
    position: absolute;
    transform: translate(-50% , -50%);
    top: 50%;
    left: 50%;
    display: flex;
}
.main-page-logistics-inside-container-small-immge-container{
    flex: 40%;
    max-width: 40%;
    padding : 2%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-page-logistics-inside-container-small-immge-container img{
    max-width: 90%;
}
.main-page-logistics-inside-container-content{
    width: 60%;
    flex: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-page-logistics-inside-container-content-heading{
    width: 100%;
    text-align: center;
    color: var(--page-heading-color);
}
.main-page-logistics-inside-container-content-heading h3{
    font-weight: 700;
}
.main-page-logistics-inside-container-content-paragraph{
    margin-top: 25px;
    width: 50%;
    color: var(--page-paragraph-color);
    text-align: justify;
}
.main-page-logistics-inside-container-content-line{
    margin-top: 20px;
    width: 20%;
    height: 7px;
    background-color: var(--page-paragraph-color);
}

@media only screen and (max-width: 768px){
    .main-page-logistics-heading{
        font-size: 80%;
    }
    .main-page-logistics-container{
        height : 400px;
    }
    .main-page-logistics-inside-container{
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
        height: 200px;
        width: 100%;
    }
    .main-page-logistics-inside-container-small-immge-container{
        height: 200px;
        min-width: 90%;
        max-width: 90%;
        flex: 90%;
    }
    .main-page-logistics-inside-container-content{
        width: 100%;
        flex : 100%;
        margin-top: 20px;
    }
    .main-page-logistics-inside-container-content-paragraph{
        width: 90%;
    }
}

/* ----------------------contact us---------------------- */
.contact-us{
    max-width: 100%;
    /* height: 90vh; */
    /* background-color: rgb(250, 249, 249); */
}
.contact-us-container{
    height: 100%;
    max-width : 100%;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}
.contact-us-content-section {
    flex : 45%;
    max-width: 45%;
    /* background-color: yellow; */
    /* height: 200px; */
    box-sizing: border-box;
    padding: 100px 3% 100px 3%;
}
.contact-us-content-section-heading h2{
    font-size : 200%;
    font-weight: 900;
    color: #353535;
}
.contact-us-content-section-heading h3{
    color : var(--page-color-scheme);
}
.contact-us-content-section-para{
    margin-top: 40px;
    max-width: 80%;
    font-family: 'Lato', sans-serif;
    color : var(--page-paragraph-color);
}
.contact-us-form-section{
    flex : 45%;
    max-width: 45%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    padding : 10vh;
}
.contact-us-form-section-container{
    width: 80%;
}
.contact-us-form-section-container form > input{
    min-width : 100%;
    max-width: 100%;
    box-sizing: border-box;
    padding : 3%;
    margin-top : 10px;
    outline: none;
    border: none;
    border-bottom: 1px solid var(--page-color-scheme);
    background-color: transparent;
}
.contact-us-form-section-container form > select{
    min-width : 100%;
    max-width: 100%;
    box-sizing: border-box;
    padding : 3%;
    margin-top : 10px;
    outline: none;
    /* color : var(--page-color-scheme); */
    border: none;
    border-bottom: 1px solid #5e5d5d6e;
    /* box-shadow: 5px 5px 8px #8888887e; */
    /* border-radius : 20%; */
    background-color: transparent;
    color : grey;
}
.contact-us-form-section-container form > input[type="submit"]{
    background-color: var(--page-color-scheme);
    color : white;
    cursor: pointer;
}
.contact-us-form-section-container form > textarea{
    min-width : 100%;
    max-width: 100%;
    box-sizing: border-box;
    padding : 3%;
    margin-top : 10px;
    outline: none;
    border: none;
    /* color : white; */
    border-bottom: 1px solid var(--page-color-scheme);
    /* box-shadow: 5px 5px 8px #8888887e; */
    /* border-radius : 20%; */
    background-color: transparent;  
}
.form-submission-after-message{
    max-width: 100%;
    position: relative;
    top:30%;
    display: none;
    font-size : 150%;
}
.form-submission-after-message i{
    color : var(--page-color-scheme);
    margin-right : 5px;
}

@media only screen and (max-width: 768px){
    .contact-us-container{
        flex-direction: column;
        align-items: center;
        padding-bottom: 50px;
    }
    .contact-us-content-section{
        flex : 90%;
        max-width: 90%;
        padding: 50px 3% 20px 3%;
    }
    .contact-us-content-section-heading{
        text-align: center;
    }
    .contact-us-content-section-heading h3{
        font-size: 140%;
    }
    .contact-us-content-section-heading h2{
        font-size: 150%;
    }
    .contact-us-content-section-para{
        min-width: 100%;
        max-width: 100%;
    }
    .contact-us-content-section-para p{
        text-align: center;
        width: 100%;
    }
    .contact-us-form-section{
        min-width: 100%;
        flex: 100%;
        padding: 0;
        margin-top: 0px;
    }
}
