body{
    padding: 0;
    margin : 0;
}
:root {
    --page-color-scheme : rgb(36, 216, 36);
  }

h1,h2,h3,h4,h5,h6 { 
    margin: 0;
}

/* -------------------------------navbar----------------------------------------------- */
nav { 
    z-index: 1;
}
nav.desktop-navbar{
    background-color : darkgreen;
    position: fixed;
    height : 7vh;
    width : 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}
nav.desktop-navbar span{
    height: 60%;
    margin : 0 3% 0 3%;
    /* font-family: 'Caladea', serif; */
    font-family: 'Abel', sans-serif;
}
nav.desktop-navbar span a{
    text-decoration: none;
    color : white;
}
#navbar-logo {
    height: 110%;
}
.mobile-navbar{
    height : 7vh;
    background-color : darkgreen;
}
/* -----------------------------fixed-social-icons----------------------------------------------- */
.fixed-social-icons{
    position: fixed;
    top : 30%;
    display: flex;
    flex-direction: column;
    width : 3.5vw;
    background-color: transparent;
    align-content: center;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-radius : 10%;
    /* box-shadow: 5px 5px 8px #8888887e; */
}
.fixed-social-icons span{
    box-sizing: border-box;
    text-align: center;
    font-size : 180%;
    width : 100%;
    margin-top : 2px;
    color : white;
    /* border-radius: 20%; */
    padding : 5px;
}

/* -------------------------------landing section----------------------------------------------- */
section.main-section{
    max-width: 100vw;
    height : 90vh;
    /* background-color : black; */
    background: url("../images/boIQ61.jpg");
    background-position: center;
    background-size: cover;
    background-attachment:fixed ;
    color : white;
    padding-top: 10vh;
}
.main-section-writing{
    /* position: absolute;
    left : 45%;
    top : 30%;
    transform: translate(-50% , -50%); */
    display: flex;
    justify-content: center;
    width: 100%;
}
.main-section-main-heading{
    font-size : 300%;
    margin-top : 50px;
}
.main-section-main-tagline{
    font-size: 150%;
    margin-top : 10px;
}
.main-section-main-link{
    font-size: 120%;
    margin-top : 20px;
}
.main-section-main-link a{
    text-decoration: none;
    color : blueviolet;
}
/* -------------------------------logistics section----------------------------------------------- */
.logistics{
    max-width: 100vw;
    height : 90vh;
    /* background-color:red; */
    margin-top: 20px;
    margin-bottom: 40px;
    /* display: flex; */
    /* justify-content: center;
    align-items: center; */
}
.logistics-container{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    height: 80%;
    /* background-color: yellow; */
    display: flex;
    justify-content: space-evenly;
}
.logistics-container-element-1{
    flex : 35%;
    max-width : 35%;
    box-sizing: border-box;
    border: 1px solid #f0f0f0;
    background-color: #f0f0f00c;
    box-shadow: 10px 10px 8px #8888887e;
}
.logistics-container-element-2{
    flex : 35%;
    max-width : 35%;
    box-sizing: border-box;
    border: 1px solid #f0f0f0;
    background-color: #f0f0f00c;
    box-shadow: 10px 10px 8px #8888887e;
}
.logistics-heading{
    width : 100%;
    text-align: center;
    margin: 30px 0 30px 0;

}
.logistics-heading h3{
    color : var(--page-color-scheme);
}
.logistics-heading h1{
    font-size : 250%;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    color: #353535;
}
/* -------------------------------Our Services----------------------------------------------- */
.services{
    height : 95vh;
    max-width : 100%;
    background-color: rgb(250, 249, 249);
    /* margin-top:30px;
    margin-bottom: 30px; */
    padding : 20px 5% 30px 5%;
    /* justify-content: center; */
    box-sizing: border-box;
}
.services-heading{
    width: 100%;
    text-align: center;
    margin : 30px 0 40px 0;
}
.services-heading h1{
    font-size : 250%;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    color: #353535;
}
.services-heading h3{
    color : var(--page-color-scheme);
}
.services-provide-container{
    max-width : 100%;
    height: 35%;
    margin-top : 20px;
    /* background-color: red; */
    display: flex;
    justify-content: space-evenly;
    /* padding : 20px 0 20px 0; */
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
.services-provide-container-element{
    max-width : 32%;
    flex : 32%;
    /* background-color: yellow; */
    border-right : 1px solid #ebebeb;
    transition: all, 0.5s ease;
    border-radius : 2px;
    display: flex;
    /* box-shadow: 2px 2px 10px #8888887e; */
}
.services-provide-container-element:hover{
    /* box-shadow: 2px 2px 30px #8888887e; */
    /* border: none; */
}
.services-provide-container-element-icon{
    flex : 30%;
    max-width: 30%;
    display: flex;
    align-items: flex-start;
    /* align-content: center; */
    /* background-color: yellow; */
}
.services-provide-container-element-icon img{
    width : 100%;
}
.services-provide-container-element-content{
    flex : 70%;
    max-width: 70%;
    box-sizing: border-box;
    padding : 10px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    /* background-color: red; */
}
.services-provide-container-element-content h2{
    color : var(--page-color-scheme);
}
.services-provide-container-element-content p{
    color : #8d8d8d;
}
/* -------------------------------About Us----------------------------------------------- */
.about-us{
    max-width:100%;
    height: 95vh;
    /* background-color: yellow; */
}
.about-us-container{
    max-width : 100%;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}
.about-us-content-section {
    flex : 45%;
    max-width: 45%;
    /* background-color: yellow; */
    height: 200px;
    box-sizing: border-box;
    padding: 100px 3% 100px 3%;
}
.about-us-content-section-heading h2{
    font-size : 200%;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    color: #353535;
}
.about-us-content-section-heading h3{
    color : var(--page-color-scheme);
}
.about-us-content-section-para{
    margin-top: 40px;
    max-width: 80%;
    font-family: 'Lato', sans-serif;
    color : #8d8d8d;
}
.about-us-button-section a{
    text-decoration: none;
}
.about-us-button-section a>button{
    padding : 10px 20px;
    cursor: pointer;
    background-color: var(--page-color-scheme);
    color : white;
    font-family: 'Lato', sans-serif;
}
.about-us-image-section{
    flex : 45%;
    max-width: 45%;
    box-sizing: border-box;
    /* background-color: red; */
    position: relative;
    height: 90vh;
}
.about-us-image-section-img{
    position: absolute;
    transform: translate(-50% , -50%);
    left: 50%;
    top:50%;
    height: 45vh;
    /* width : 10vw; */
}
.about-us-image-section-img::after{
    content: '';
    position: absolute;
    width: 95%;
    height: 80%;
    /* background-color: lightgrey; */
    border : 8px solid black;
    top: -7%;
    /* border-radius: 50%; */
    z-index: -1;
    right: -5%;
}
/* -------------------------------contact-us--------------------------------------------- */
.contact-us{
    max-width: 100%;
    height: 90vh;
    background-color: rgb(250, 249, 249);
}
.contact-us-container{
    height: 100%;
    max-width : 100%;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}
.contact-us-content-section {
    flex : 45%;
    max-width: 45%;
    /* background-color: yellow; */
    height: 200px;
    box-sizing: border-box;
    padding: 100px 3% 100px 3%;
}
.contact-us-content-section-heading h2{
    font-size : 200%;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    color: #353535;
}
.contact-us-content-section-heading h3{
    color : var(--page-color-scheme);
}
.contact-us-content-section-para{
    margin-top: 40px;
    max-width: 80%;
    font-family: 'Lato', sans-serif;
    color : #8d8d8d;
}
.contact-us-form-section{
    flex : 45%;
    max-width: 45%;
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    padding : 10vh;
}
.contact-us-form-section-container{
    width: 80%;
    /* background-color: yellow; */
}
.contact-us-form-section-container form > input{
    width : 100%;
    box-sizing: border-box;
    padding : 3%;
    margin-top : 10px;
    outline: none;
    border: none;
    /* color : white; */
    border-bottom: 1px solid var(--page-color-scheme);
    /* box-shadow: 5px 5px 8px #8888887e; */
    /* border-radius : 20%; */
    background-color: transparent;
}
.contact-us-form-section-container form > select{
    width : 100%;
    box-sizing: border-box;
    padding : 3%;
    margin-top : 10px;
    outline: none;
    /* color : var(--page-color-scheme); */
    border: none;
    border-bottom: 1px solid #5e5d5d6e;
    /* box-shadow: 5px 5px 8px #8888887e; */
    /* border-radius : 20%; */
    background-color: transparent;
    color : grey;
}
.contact-us-form-section-container form > input[type="submit"]{
    background-color: var(--page-color-scheme);
    color : white;
    cursor: pointer;
}
.contact-us-form-section-container form > textarea{
    width : 100%;
    box-sizing: border-box;
    padding : 3%;
    margin-top : 10px;
    outline: none;
    border: none;
    /* color : white; */
    border-bottom: 1px solid var(--page-color-scheme);
    /* box-shadow: 5px 5px 8px #8888887e; */
    /* border-radius : 20%; */
    background-color: transparent;
}





/* -------------------------------Media Query----------------------------------------------- */

@media only screen and (max-width: 520px){
    nav.desktop-navbar{
        display: none;
    }
    nav.mobile-navbar{
        display: block;
    }
}